/* a {
      text-decoration: none;
  }
  
  li {
      list-style: none;
  }
  .side-menu {
      position: fixed;
      background:#FFC700;
      color:black;
      width: 20vw;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
  }
  .brand-logo {
      width: 150px;
      height: 100px;
  }
  
  .side-menu .brand-name {
      color: black;
    background:#FFC700;
      height: 10vh;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .side-menu li {
      font-size: 24px;
      padding: 10px 40px;
      color: black;
      display: flex;
      align-items: center;
  }
  
  .side-menu li:hover {
      background: #FFA800;
      color: black;
  }
  @media screen and (max-width: 1050px) {
      .side-menu li {
          font-size: 18px;
      }
  }
  
  @media screen and (max-width: 940px) {
      .side-menu li span {
          display: none;
      }
      .side-menu {
          align-items: center;
      }
      .side-menu li img {
          width: 40px;
          height: 40px;
      }
      .side-menu li:hover {
          background: #FFA800;
          padding: 8px 38px;
          border: 2px solid white;
      }
  }
  
  @media screen and (max-width:536px) {
      .brand-name h1 {
          font-size: 16px;
      }
      .container .content .cards {
          justify-content: center;
      }
      .side-menu li img {
          width: 30px;
          height: 30px;
      }
  } */
  .sidebar {
      position: fixed;
      top: 60px;
      width: 260px;
      height: calc(100% - 60px);
      background: #FFC700;
      overflow-x: hidden;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      z-index: 2;
  }
  
  .sidebar ul {
      margin-top: 20px;
  }
  
  .sidebar ul li {
      width: 100%;
      list-style: none;
  }
  
  .sidebar ul li:hover {
      background: #FFA800;
  }
  
  .sidebar ul li:hover a {
      color: #333;
  }
  
  .sidebar ul li a {
      width: 100%;
      text-decoration: none;
      color: #333;
      height: 60px;
      display: flex;
      align-items: center;
  }
  
  .sidebar ul li a i {
      min-width: 60px;
      font-size: 24px;
      text-align: center;
  }
  /* ----------------navbar---------------- */
  .navbar{
    background-color: #FFC700;
}
.nav__bars-btn{
    width: 28px;
    height: 28px;
    color: black;
    display: none;
    margin-left: 10px;
}
.navbar--overlay{
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    height: 100vh;
}
.nav--bar{
    display: none;
}


.nav__list{
    margin-top: 50px;
    background-color: #FFC700;
    height: 100%;

}
.nav__list>li{
    border-bottom: 2px solid black;
    width: 70%;
    margin-bottom: 10px;
}

.nav--bar--close{
    color: black;
    position: absolute;
    top: 10px;
}
.nav__list i{
    margin-right: 10px;
}
.fa-times{
    margin-top: 0px;
    margin-left: 10px;
}

.nav--bar ul{
    list-style-type: none;
}

.nav--bar a:hover{
    color: white; 
}
.nav__pc ul{
    list-style-type: none;
}
.nav__pc a{
    color: black;
}

.nav-link{
    text-decoration: none;
    color: #333;
    display: block;
    padding: 8px 0;
}
.nav-link:hover{
    color: white !important;
}
.nav--link{
    color: black;
    text-decoration: none;
}
.nav__input{
    display: none;
    
}
.nav__input:checked ~ .nav--bar{
    transform: translateX(0%);
}
.nav__input:checked ~ .nav__list{
    transform: translateX(0%);
}