<!-- <div id="chart">
      <apx-chart
        [series]="series"
        [chart]="chart"
        [xaxis]="xaxis"
        [dataLabels]="dataLabels"
        [grid]="grid"
        [stroke]="stroke"
        [title]="title"
      ></apx-chart>
    </div> -->

<!-- <div class="charts">
          <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [title]="chartOptions.title"
  ></apx-chart> -->


<div class="chart" id="chart">
      <apx-chart 
                  [series]="chartOptions.series" 
                  [chart]="chartOptions.chart" 
                  [xaxis]="chartOptions.xaxis"
                  [stroke]="chartOptions.stroke" 
                  [colors]="chartOptions.colors"
                  [dataLabels]="chartOptions.dataLabels" 
                  [legend]="chartOptions.legend"
                  [markers]="chartOptions.markers" 
                  [grid]="chartOptions.grid" 
                  [yaxis]="chartOptions.yaxis"
                  [title]="chartOptions.title">
                  </apx-chart>
      <canvas id="lineChart">
                  
      </canvas>
      <!-- </div>
      <div class="chart doughnut-chart">
            <h2></h2>
            <canvas id="doughnut"></canvas>
      </div> -->
</div>