@font-face {
    font-family: OpenSans;
    src: url(/assets/font/OpenSans-Regular.ttf);
}

* {
    /* /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
}

.hr {
    height: 4px;
    border-width: 0;
    color: #FFC700;
    background-color: #FFC700;
}

.btn {
    width: 80px;
    text-align: center;
    padding: 5px
}

.color--red {
    color: red;
    font-weight: bolder;
}

.bg-color {
    background-color: #FFC700;
}

.container__color {
    color: #FFC700;
    height: 0px;
}

.mg-top {
    padding-top: 70px;
}

.checked {
    border-color: #FFC700 !important;
}

.form-check .form-check-input:checked {
    border-color: #FFC700;
    background-color: #FFC700;
}

.btn-close {
    box-sizing: border-box;
    opacity: 1;
}

.modal-body {
    padding-left: 30px;
}

.mg-bottom {
    padding-bottom: 30px;
}

.mg-subcontainer {
    margin-left: 15px;
}

@media screen and (max-width: 1700px) {
    .status_display--lg {
        display: none;
    }
    .customer_display--md {
        display: none;
    }
    .note__display {
        display: none;
    }
    .repi__display--576 {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .status_display--md {
        display: none;
    }
    .status_display--lg {
        display: block;
    }
    .check__display {
        display: block;
    }
    .note__display {
        display: none;
    }
    .repi__display--576 {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .container {
        margin: 0 !important;
        min-width: 300px;
        padding-left: 0px !important;
        font-size: 15px;
    }
    .repi__display--576 {
        width: 1px;
        size: 500px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        margin: 0 !important;
        min-width: 300px;
        padding-left: 0px !important;
        font-size: 15px;
    }
    .status_display--lg {
        display: none;
    }
    .kh_display {
        display: none;
    }
    .xn__display {
        display: none;
    }
    .customer_display--md {
        display: block;
    }
    .note__display {
        display: none;
    }
    .repi__display--576 {
        display: block;
    }
    .size-border {
        border-width: 30px;
    }
}