<div class="form-container">
    <form action="">
        <div class="form-title">
            <h3 class="title-text">Điền thông tin sản phẩm</h3>
        </div>
        <div class="form-description">
            <div class="form-row">
                <label for="name_product" class="label-format">Tên sản phẩm:</label>
                <input type="text" id="name_product" name="name_sp" class="input-format" placeholder="Nhập tên sản phẩm">
            </div>
            <div class="form-row">
                <label for="price_product" class="label-format">Giá gốc:</label>
                <input type="number" id="price_product" name="price_sp" class="input-format" placeholder="VND">
               
            </div>
            <div class="form-row">
                <label for="price_product" class="label-format">Giá bán:</label>
                <input type="number" id="price_discount" name="price_new" class="input-format" placeholder="VND">
            </div>
            <div class="form-row">
                <label for="descrip_product" class="label-format">Mô tả sản phẩm:</label>
                <textarea name="descrip_sp" id="descrip_product" cols="30" rows="5" class="input-format" placeholder="Nhập mô tả sản phẩm"></textarea>
            </div>
            <div class="form-row">
                <label for="image_product" class="label-format">Hình ảnh sản phẩm:</label>
                <input type = "file" name = upload_file class="button-addimg" id="image_product">
            </div>
            <div class="add-image">
                
            </div>
            <div class="form-button">
                <button class="save-button" type="submit">Lưu</button>
                <button class="cancel-button" type="button">Hủy</button>
            </div>
        </div>
    </form>
</div>

