/* form */
.form-container{
    margin: auto;
    width: 500px;
    height: auto;
    border-radius:15px;
    border: 2px solid #FFC700;
    background-color: white;
    margin-top: 50px;
    min-width: 300px;
}
.modal--header {
    background-color: #FFC700;
    border-radius: 15px 15px 0 0;
    border: 1px solid #FFC700;
    color: black;
    position: relative;
    padding: 10px;
    text-align: center;
    padding-top: 13px;
}

.modal--header--content{
    position: absolute;
    font-weight: bold;
}
.modal--close{
    position: absolute;
    right: 10px;
}
.title-text {
    position: relative;
    font-weight: bold;
}

.fa-close {
    position: relative;
}

.form-description {
    margin: 20px;
}

.form-group {
    display: flex;
    margin-top: 10px;
}
.form-price{
    display: flex;
    width: 100%;
}

.label-format {
    min-width: 200px;
}

.input-format {
    border-radius: 7px;
    border: 2px solid #FFC700;
    line-height: 15px;
    width: 70%;
}
.input-group-text{
    background-color: #FFC700;
}
.button-addimg {}

.form-button {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.save-button {
    margin-right: 10px;
    border-radius: 7px;
    border: 2px solid #FFC700;
    background-color: #FFC700;
    padding: 5px 10px;
    
}

.cancel-button {
    margin-right: 10px;
    border-radius: 7px;
    border: 2px solid #A3A2A1;
    background-color: #A3A2A1;
    padding: 5px 10px;
}
@media(max-width: 700px) {
    * {
        font-family: Opensans;
        font-size: 12px;
    }
    .form-group{
        display: block;
    }
}
