<div class="form-container">
    <form action="">
        <div class="modal--header">
            <h5 class="modal--header-content">Điền thông tin sản phẩm</h5>
        </div>
        <div class="form-description">
            <div class="form-group">
                <label for="name_product" class="label-format">Tên sản phẩm:</label>
                <input type="text" id="name_product" name="name_sp" class="form-control" placeholder="Nhập tên sản phẩm">
            </div>
            <div class="form-group">
                <label for="price_product" class="label-format">Giá gốc:</label>
                <div class="form-price">
                    <input type="number" id="price_product" name="price_sp" class="form-control">
                    <span class="input-group-text">VND</span>
                </div>
    
            </div>
            <div class="form-group">
                <label for="price_product" class="label-format">Giá bán:</label>
                <div class="form-price">
                    <input type="text" id="price_discount" name="price_new" class="form-control">
                    <span class="input-group-text">VND</span>
                </div>
            </div>
            <div class="form-group">
                <label for="descrip_product" class="label-format">Mô tả sản phẩm:</label>
                <textarea name="descrip_sp" id="descrip_product" cols="30" rows="5" class="form-control"
                    placeholder="Nhập mô tả sản phẩm"></textarea>
            </div>
            <div class="form-group">
                <label for="image_product" class="label-format">Hình ảnh sản phẩm:</label>
                <input type="file" name=upload_file class="button-addimg" id="image_product">
            </div>
            <img src="" width="90%" alt=""
                class="img-fluid ${3|rounded-top,rounded-right,rounded-left,rounded-bottom,rounded-circle|}">
            <div class="add-image">
    
            </div>
            <div class="form-button">
                <button class="save-button" type="submit">Lưu</button>
                <button class="cancel-button" data-dismiss="modal" type="button">Hủy</button>
            </div>
        </div>
    </form>
</div>