<!-- <app-donhang-admin></app-donhang-admin> -->
<!-- <app-popup-xoa-baiviet-thanhcong></app-popup-xoa-baiviet-thanhcong> -->
<!-- <app-thongtinfooter></app-thongtinfooter> -->
<app-home></app-home>
<!-- <app-chitietdonhang-admin></app-chitietdonhang-admin> -->
<!-- <app-donhang-admin></app-donhang-admin> -->
<!-- <app-blogtrangchu></app-blogtrangchu> -->
<!-- <app-admin-blogtrangchu></app-admin-blogtrangchu> -->
<!-- <app-popup-xoa-baiviet-thanhcong></app-popup-xoa-baiviet-thanhcong> -->
<!-- <app-product></app-product> -->
<!-- <app-blogtrangchu></app-blogtrangchu> -->
<router-outlet></router-outlet>