<!-- <app-thongtinfooter></app-thongtinfooter> -->
<!-- <app-home></app-home> -->
<app-chitietdonhang-admin></app-chitietdonhang-admin>
<!-- <app-admin-blogtrangchu></app-admin-blogtrangchu> -->
<!-- <app-donhang-admin></app-donhang-admin> -->
<!-- <app-product-admin></app-product-admin> -->
<!-- <app-adminheader></app-adminheader> -->
<!-- <app-header></app-header> -->
<!-- <app-adminfooter></app-adminfooter> -->
<!-- <app-adminnavbar></app-adminnavbar> -->
<!-- <app-adminchatbox></app-adminchatbox> -->
<!-- <app-admintasklist></app-admintasklist> -->
<!-- <app-piechart></app-piechart> -->
<!-- <app-popup-lydohuy></app-popup-lydohuy> -->
<!-- <app-donhang-admin></app-donhang-admin> -->
<!-- <app-form-them-sanpham-admin-android></app-form-them-sanpham-admin-android> -->
<!-- <app-form-sua-sanpham-admin-android></app-form-sua-sanpham-admin-android> -->
<!-- <app-dangky></app-dangky> -->

<!-- <app-adminfooter></app-adminfooter> -->
<!-- <app-admin-blogtrangchu></app-admin-blogtrangchu> -->
<!-- <app-admindashboard></app-admindashboard> -->
<!-- <app-product></app-product> -->
<!-- <app-product-admin></app-product-admin> -->
<!-- <app-blogtrangchu></app-blogtrangchu> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-test></app-test> -->
<!-- <app-adminheader></app-adminheader> -->
<!-- <app-adminnavbar></app-adminnavbar> -->