<!-- <app-thongtinfooter></app-thongtinfooter> -->
<!-- <app-home></app-home> -->
<!-- <app-chitietdonhang-admin></app-chitietdonhang-admin> -->

<!-- <app-donhang-admin></app-donhang-admin> -->
<!-- <app-product-admin></app-product-admin> -->
<app-adminheader></app-adminheader>


<!-- <app-popup-lydohuy></app-popup-lydohuy> -->
<!-- <app-donhang-admin></app-donhang-admin> -->
<!-- <app-form-them-sanpham-admin-android></app-form-them-sanpham-admin-android> -->
<!-- <app-form-sua-sanpham-admin-android></app-form-sua-sanpham-admin-android> -->

<!-- <app-adminfooter></app-adminfooter> -->
<!-- <app-admin-blogtrangchu></app-admin-blogtrangchu> -->
<!-- <app-admindashboard></app-admindashboard> -->
<!-- <app-product></app-product> -->
<!-- <app-product-admin></app-product-admin> -->
<!-- <app-blogtrangchu></app-blogtrangchu> -->
<!-- <router-outlet></router-outlet> -->