* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

.container {
position: relative;
margin-left: 240px;
transition: margin-left 500ms;
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 10px;
}
/* -----Sản phẩm bán chạy -------- */
table {
/* min-width: fit-content; */
border: none;
border-collapse: collapse;
margin: 0;
padding: 0;
width: 100%;
table-layout: fixed;
}


table tr {
background-color: #fff;
padding: .35em;
}

table th,
table td {
padding: .625em;
text-align: center;
}

table th {
font-size: .85em;
letter-spacing: .1em;
/* text-transform: uppercase; */
}
/* -----Doanh thu, lượng truy cập ---- */
.cards {
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cards .card {
  width: 250px;
  height: 150px;
  background: #FFC500;
  margin: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

.content-2 {
  min-height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.content-2 .recent-payments {
  min-height: 50vh;
  flex: 5;
  background: white;
  margin: 0 25px 25px 25px;
  display: flex;
  flex-direction: column;
}
.charts {
display: grid;
/* grid-template-columns: 2fr 1fr; */
/* grid-gap: 20px; */
width: 100%;
padding: 20px;
padding-top: 0;
}
/* ----- Menu chọn ------- */
.select {
position: relative;
min-width: 150px;
}
.select svg {
position: absolute;
right: 12px;
top: calc(50% - 3px);
width: 10px;
height: 6px;
stroke-width: 2px;
stroke: #9098a9;
fill: none;
stroke-linecap: round;
stroke-linejoin: round;
pointer-events: none;
}
.select select {
-webkit-appearance: none;
padding: 7px 40px 7px 12px;
width: 100%;
border: 1px solid #e8eaed;
border-radius: 5px;
background: #fff;
box-shadow: 0 1px 3px -2px #9098a9;
cursor: pointer;
font-family: inherit;
font-size: 16px;
transition: all 150ms ease;
}
.select select:required:invalid {
color: #5a667f;
}
.select select option {
color: #223254;
}
.select select option[value=""][disabled] {
display: none;
}
.select select:focus {
outline: none;
border-color: #07f;
box-shadow: 0 0 0 2px rgba(0,119,255,0.2);
}
.select select:hover + svg {
stroke: #07f;
}
.sprites {
position: absolute;
width: 0;
height: 0;
pointer-events: none;
user-select: none;
}
/* ----- Sidebar ------- */
#sidebar-toggle {
  display: none;
}

.sidebar {
  height: 100%;
  width: 240px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background: #FFC700;
  color: #333;
  overflow-y: auto;
  transition: width 150ms;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0rem 1rem;
}
.sidebar-menu {
  padding: 1rem;
}

.sidebar li {
  margin-bottom: 1.5rem;
  margin: 10px;
  padding: 10px;

}

.sidebar a {
  color: #333;
  font-size: 1.2rem;
}

.sidebar a span:last-child {
  padding-left: .6rem;
}

#sidebar-toggle:checked ~ .sidebar {
  width: 60px;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
#sidebar-toggle:checked ~ .sidebar li span:last-child {
  display: none;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header,
#sidebar-toggle:checked ~ .sidebar li {
  display: flex;
  justify-content: center;
}

#sidebar-toggle:checked ~ .main-content {
  margin-left: 60px;
}

#sidebar-toggle:checked ~ .main-content header {
  left: 60px;
  width: calc(100% - 60px);
}

.main-content {
  position: relative;
  margin-left: 240px;
  transition: margin-left 150ms;
}
/* -----Responsive--- */
@media only screen and (max-width: 1200px) {
  .sidebar {
      width: 60px;
      z-index: 150;
  }

  .sidebar .sidebar-header h3 span,
  .sidebar li span:last-child {
      display: none;
  }

  .sidebar .sidebar-header,
  .sidebar li {
      display: flex;
      justify-content: center;
  }

  .main-content {
      margin-left: 60px;
  }

  .main-content header {
      left: 60px;
      width: calc(100% - 60px);
  }

  #sidebar-toggle:checked ~ .sidebar {
      width: 240px;
  }

  #sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
  #sidebar-toggle:checked ~ .sidebar li span:last-child {
      display: inline;
  }

  #sidebar-toggle:checked ~ .sidebar .sidebar-header {
      display: flex;
      justify-content: space-between;
  }

  #sidebar-toggle:checked ~ .sidebar .sidebar-header img {
      display:none;
  }

  #sidebar-toggle:checked ~ .sidebar li {
      display: block;
  }

  #sidebar-toggle:checked ~ .main-content {
      margin-left: 60px;
  }

  #sidebar-toggle:checked ~ .main-content header {
      left: 60px;
  }
}

@media only screen and (max-width: 768px) {

  .sidebar-header img {
      display:none;
  }
}
@media screen and (max-width: 536px) {
  table {
    border: 0;
    min-width: fit-content;
  }
  
  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #fff;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #fff;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label không được đọc tên trong bảng
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
  }
  .cards {
        justify-content: center;
    }

@media only screen and (max-width: 450px) {
  .cards {
    justify-content: center;
}
}

/* Responsive */
/* Lỗi */
/* .sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0rem 1rem;
}
.main-content{
  position: relative;
  margin-left: 240px;
  transition: margin-left 500ms;
}
 
#sidebar-toggle:checked ~ .adminnav {
  width: 60px;
}

.adminnav /deep/ #sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
#sidebar-toggle:checked ~ .sidebar li span:last-child {
  display: inline;
}

.adminnav /deep/ #sidebar-toggle:checked ~ .sidebar .sidebar-header{
  display: flex;
  justify-content: space-between;
}

.adminnav /deep/ #sidebar-toggle:checked ~ .sidebar .sidebar-header img {
  display:none;
}

.adminnav /deep/ #sidebar-toggle:checked ~ .sidebar li {
  display: block;
}

.adminnav /deep/ #sidebar-toggle:checked ~ .main-content header {
  left: 60px;
  width: calc(100% - 60px);
} */
