<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sản phẩm</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- <script src="../JS/sanPham.js"></script>
    <script src="../JS/sanPhamStorage.js"></script> -->

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>
    
    <div class="app">

        <app-header></app-header>


        <app-adminheader></app-adminheader>

        <div class="app__container">
            <div class="grid-wide">
                <div class="search">
                    <input type="text" placeholder="Bạn muốn tìm sản phẩm gì?" id="search_text">
                    <label class="fas fa-search" onclick="timKiemSanPham()"></label>
                </div>
                <div class="row sm-gutter app__content">
                    <!-- menu -->
                    <div class="col-md-3">
                        <div class="sidebar">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-house"></i>
                                        <div>Quản lý chung</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-cart-shopping"></i>
                                        <div>Sản phẩm</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-newspaper"></i>
                                        <div>Bài viết</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-list-check"></i>
                                        <div>Đơn hàng</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-earth-asia"></i>
                                        <!-- <i class="fas fa-chart-bar"></i> -->
                                        <div>Website</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-cog"></i>
                                        <div>Cài đặt</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- product -->
                    <div class="col-md-9">
                        <h4 class="category__heading">SẢN PHẨM</h4>
                        <div class="home-arrange-product">
                            <div class="home-filter-1">
                                <div class="select-input">
                                    <span class="select-input__label">Tất cả sản phẩm</span>
                                    <i class="select-input__icon fas fa-angle-down"></i>
                                    <!-- List options -->
                                    <ul class="select-input__list">
                                        <li class="select-input__item">
                                            <a href="#category-item" class="select-input__link tangdan" id="category--thucanchocho" onclick="hienDanhMucThucAnChoCho()">Thức ăn cho chó</a>
                                        </li>
                                        <li class="select-input__item">
                                            <a href="#category-item" class="select-input__link" id="category--thucanchomeo" onclick="hienDanhMucThucAnChoMeo()">Thức ăn cho mèo</a>
                                        </li>
                                        <li class="select-input__item">
                                            <a href="#category-item" class="select-input__link" id="category--phukienchocho" onclick="hienDanhMucPhuKienChoCho()">Phụ kiện cho chó</a>
                                        </li>
                                        <li class="select-input__item">
                                            <a href="#category-item" class="select-input__link" id="category--phukienchomeo" onclick="hienDanhMucPhuKienChoMeo()">Phụ kiện cho mèo</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="home-filter-2">
                                <div class="select-input">
                                    <span class="select-input__label">Sắp xếp theo</span>
                                    <i class="select-input__icon fas fa-angle-down"></i>
                                    <!-- List options -->
                                    <ul class="select-input__list">
                                        <li class="select-input__item">
                                            <a href="#category-item" class="select-input__link tangdan" id="tangdan">Giá: tăng dần</a>
                                        </li>
                                        <li class="select-input__item">
                                            <a href="#category-item" class="select-input__link" id="giamdan">Giá: giảm dần</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="button-addproduct" onclick="addProduct()" data-bs-toggle="modal" data-bs-target="#formAddProduct">
                                <i class="fa fa-plus"></i>
                            </div>
                        </div>




                        <div class="home-product dsSanPham1">
                            <div class="row" id="dsSanPham1">
                                <div class="col-md-3">
                                    <!-- Product item -->
                                    <a class="home-product-item">
                                        <div class="product-image">
                                            <img src="https://bizweb.dktcdn.net/thumb/large/100/432/370/products/sua-bot-cho-meo-dr-kyan-precaten-anh.jpg?v=1626752115000" alt="Image">
                                        </div>
                                        <h4 class="home-product-item__name">Sữa bột cho mèo 110g Dr.Kyan Precaten</h4>
                                        <div class="home-product-item__price">
                                            <span class="home-product-item__price-curent">500.000đ</span>
                                            <span class="home-product-item__price-old">590.000đ</span>
                                        </div>



                                        <!-- cover -->
                                        <div class="cover-product">
                                            <div class="icon-edit-delete">
                                                <button class="icon-change d-inline-flex align-self-center" data-bs-toggle="modal"
                                                    data-bs-target="#formChangeProduct">
                                                    <i class="fa fa-pen-to-square"></i>
                                                    <p>Sửa</p>
                                                </button>
                                                <button class="icon-change d-inline-flex" data-bs-toggle="modal" data-bs-target="#formDeleteProduct">
                                                    <i class="fa fa-trash-can"></i>
                                                    <p>Xóa</p>
                                                </button>
                                            </div>
                                        </div>

                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="home-product dsSanPham2">
                            <div class="row" id="dsSanPham2">
                            </div>
                        </div>
                        <ul class="pagination home-product__pagination">

                            <li class="pagination-item pagination-item--active">
                                <a href="#category-item" class="pagination-item__link " id="page-1">1</a>
                            </li>
                            <li class="pagination-item">
                                <a href="#category-item" class="pagination-item__link " id="page-2">2</a>
                            </li>

                            <li class="pagination-item">
                                <span href="#category-item" class="pagination-item__link ">
                                    <i class="pagination-item_icon fas fa-angle-right" id="next"></i>
                                </span>
                            </li>
                        </ul>
                        <div class="xemthem" id="xemthem">
                            <div id="more" onclick="xemThem()">
                                <span>
                                    Xem thêm <i class="select-input__icon fas fa-angle-down"></i>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <label for="nav-mobile-input" class="nav__bars-btn">
                <i class="fas fa-filter"></i>

            </label>
            <input type="checkbox" hidden class="nav__input" id="nav-mobile-input">

            <label for="nav-mobile-input" class="nav__overlay">

            </label>
            <nav class="nav__mobile" id="nav__mobile" onblur="removeChecked()">
                <h4 class="nav__mobile--heading">
                    DANH MỤC
                </h4>
                <ul class="nav__mobile-list">
                    <li class="nav__mobile-item ">
                        <a href="HOME.html" class="nav__mobile-item__link">Trang chủ</a>
                    </li>
                    <li class="nav__mobile-item nav__mobile-item--active">
                        <a href="#category-item" class="nav__mobile-item__link" id="sanpham-category2">Sản phẩm
                        </a>
                        <li class="nav__mobile-item nav__mobile-item-1">
                            <a href="#category-item" class="nav__mobile-item__link" id="thucanchocho2" onclick="hienDanhMucThucAnChoCho_Mobile(),removeChecked()">Thức ăn cho chó</a>
                        </li>
                        <li class="nav__mobile-item nav__mobile-item-1">
                            <a href="#category-item" class="nav__mobile-item__link" id="thucanchomeo2" onclick="hienDanhMucThucAnChoMeo_Mobile(),removeChecked()">Thức ăn cho mèo</a>
                        </li>
                        <li class="nav__mobile-item nav__mobile-item-1">
                            <a href="#category-item" class="nav__mobile-item__link" id="phukienchocho2" onclick="hienDanhMucPhuKienChoCho_Mobile(),removeChecked()">Phụ kiện cho chó</a>
                        </li>
                        <li class="nav__mobile-item nav__mobile-item-1">
                            <a href="#category-item" class="nav__mobile-item__link" id="phukienchomeo2" onclick="hienDanhMucPhuKienChoMeo_Mobile(),removeChecked()">Phụ kiện cho mèo</a>
                        </li>
                </ul>
            </nav>
            
            <!-- form -->
            <!-- form add product -->
            <div class="container-fluid-form modal fade" id="formAddProduct" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content modal--content--fix">
                        <div class="modal-body">
                            <div class="row">
                                <form action="">
                                    <div class="modal--header">
                                        <button type="button" class="btn-close modal--close" aria-label="Close" data-dismiss="modal"></button>
                                        <h5 class="modal--header-content">Điền thông tin sản phẩm</h5>
                                    </div>
                                    <div class="form-description">
                                        <div class="form-group">
                                            <label for="name_product" class="label-format">Tên sản phẩm:</label>
                                            <input type="text" id="name_product" name="name_sp" class="form-control" placeholder="Nhập tên sản phẩm">
                                        </div>
                                        <div class="form-group">
                                            <label for="price_product" class="label-format">Giá gốc:</label>

                                            <input type="number" id="price_product" name="price_sp" class="form-control" placeholder="VND">


                                            <input type="number" id="price_product" name="price_sp" class="form-control">
                                            <span class="input-group-text">VND</span>
                            

                                        </div>
                                        <div class="form-group">
                                            <label for="price_product" class="label-format">Giá bán:</label>
                                            <input type="text" id="price_discount" name="price_new" class="form-control">
                                            <span class="input-group-text">VND</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="descrip_product" class="label-format">Mô tả sản phẩm:</label>
                                            <textarea name="descrip_sp" id="descrip_product" cols="30" rows="5" class="form-control" placeholder="Nhập mô tả sản phẩm"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="image_product" class="label-format">Hình ảnh sản phẩm:</label>
                                            <input type="file" name=upload_file class="button-addimg" id="image_product">
                                        </div>
                                        
                                        <div class="add-image">

                                        </div>
                                        <div class="form-button">
                                            <button class="save-button" type="submit">Lưu</button>
                                            <button class="cancel-button" data-dismiss="modal" type="button">Hủy</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- formchange -->
            <div class="container-fluid-form modal fade" id="formChangeProduct" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content modal--content--fix">
                        <div class="modal-body">
                            <div class="row">
                                <form action="">
                                    <div class="modal--header">
                                        <button type="button" class="btn-close modal--close" aria-label="Close" data-dismiss="modal"></button>
                                        <h5 class="modal--header-content">Sửa thông tin sản phẩm</h5>
                                    </div>
                                    <div class="form-description">
                                        <div class="form-group">
                                            <label for="name_product" class="label-format">Tên sản phẩm:</label>

                                            <input type="text" id="name_product" name="name_sp" class="form-control" placeholder="Nhập tên sản phẩm">
                                        </div>
                                        <div class="form-group">
                                            <label for="price_product" class="label-format">Giá gốc:</label>
                                            <input type="number" id="price_product" name="price_sp" class="form-control" placeholder="VND">


                                            <input type="text" id="name_product" name="name_sp" class="form-control"
                                                placeholder="Sữa bột cho mèo 110g Dr.Kyan Precaten">
                                        </div>
                                        <div class="form-group">
                                            <label for="price_product" class="label-format">Giá gốc:</label>
                                            <input type="number" id="price_product" name="price_sp" class="form-control">
                                            <span class="input-group-text">VND</span>

                                        </div>
                                        <div class="form-group">
                                            <label for="price_product" class="label-format">Giá bán:</label>
                                            <input type="text" id="price_discount" name="price_new" class="form-control">
                                            <span class="input-group-text">VND</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="descrip_product" class="label-format">Mô tả sản phẩm:</label>
                                            <textarea name="descrip_sp" id="descrip_product" cols="30" rows="5" class="form-control" placeholder="Nhập mô tả sản phẩm"></textarea>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="image_product" class="label-format">Hình ảnh sản phẩm:</label>
                                            <input type="file" name="upload_file" class="form-control-file" id="image_product">
                                        </div>
                                        <img src="" width="90%" alt="" class="img-fluid ${3|rounded-top,rounded-right,rounded-left,rounded-bottom,rounded-circle|}">
                                        <div class="add-image">




                                        </div>
                                        <div class="form-button">
                                            <button class="save-button" type="submit">Lưu</button>
                                            <button class="cancel-button" data-dismiss="modal" type="button">Hủy</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid-popup modal fade" id="formDeleteProduct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="popup-delete modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <button type="button" class="btn-close modal--close--1" aria-label="Close" data-dismiss="modal"></button>
                            <div class="popup-delete-content">
                                <p>Bạn có muốn xóa sản phẩm không?</p>
                                <div class="popup-button">
                                    <button class="button--yes" type="submit">Có</button>
                                    <button class="button--no" data-dismiss="modal" type="button">Không</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- <app-footer></app-footer> -->
        </div>   
        <app-adminfooter></app-adminfooter> 

    </div>
    <!-- <script>
        taoDanhSachSanPham();
        //Load sản phẩm trang 1 khi mở trang lên
        if (JSON.parse(localStorage.getItem('danhSachSanPhamTam')) == null) {
            var danhSachSanPham = JSON.parse(localStorage.getItem('danhSachSanPham'));
            var jsondanhSachSanPham = JSON.stringify(danhSachSanPham);
            localStorage.setItem('danhSachSanPhamTam', jsondanhSachSanPham);
        }

        var danhSachSanPham = JSON.parse(localStorage.getItem('danhSachSanPhamTam'));
        //Hiển thị 15 sản phẩm đầu desktop
        var dsSanPham1 = document.getElementById('dsSanPham1');
        dsSanPham1.innerHTML = hienThiSanPhamTheoTrang(1, danhSachSanPham);
        //Hiển thị 15 sản phẩm đầu Mobile
        var dsSanPham2 = document.getElementById('dsSanPham2');
        dsSanPham2.innerHTML = hienThiSanPhamTheoTrang(1, danhSachSanPham);
        kiemTraXemThem(danhSachSanPham);




        //-------------------------------------------------------



        // Sự kiện gán cho nút chuyển trang
        // Chuyển trang Desktop
        var page_1 = document.getElementById('page-1');
        var page_2 = document.getElementById('page-2');
        // var page_3 = document.getElementById('page-3');
        //--Page-1
        page_1.addEventListener('click', function () {
            var danhSachSanPham = JSON.parse(localStorage.getItem('danhSachSanPhamTam'));
            dsSanPham1.innerHTML = hienThiSanPhamTheoTrang(1, danhSachSanPham);
        })
        //--Page-2
        page_2.addEventListener('click', function () {
            var danhSachSanPham = JSON.parse(localStorage.getItem('danhSachSanPhamTam'));
            dsSanPham1.innerHTML = hienThiSanPhamTheoTrang(2, danhSachSanPham);
        })


        //--Hiện danh mục thức ăn cho chó
        function hienDanhMucThucAnChoCho() {
            //Danh mục thức ăn cho chó
            var dsThucAnChoCho = danhSachSanPhamTheoDanhMuc('Thức ăn cho chó');
            dsSanPham1.innerHTML = hienThiSanPhamTheoTrang(1, dsThucAnChoCho);
            document.getElementById('category--phukienchomeo').style.color = '#333'
            document.getElementById('category--thucanchomeo').style.color = '#333'
            document.getElementById('category--phukienchocho').style.color = '#333'
            document.getElementById('category--thucanchocho').style.color = '#ffc700';
            // Sự kiện gán cho nút chuyển trang
            // Chuyển trang Desktop
            var page_1 = document.getElementById('page-1');
            var page_2 = document.getElementById('page-2');
            // var page_3 = document.getElementById('page-3');
            //--Page-1
            page_1.addEventListener('click', function () {
                var danhSachSanPham = JSON.parse(localStorage.getItem('danhSachSanPhamTam'));
                dsSanPham1.innerHTML = hienThiSanPhamTheoTrang(1, dsThucAnChoCho);
            })
            //--Page-2
            page_2.addEventListener('click', function () {
                var danhSachSanPham = JSON.parse(localStorage.getItem('danhSachSanPhamTam'));
                dsSanPham1.innerHTML = hienThiSanPhamTheoTrang(2, dsThucAnChoCho);
            })
        }


        //--Hiện danh mục thức ăn cho mèo
        function hienDanhMucThucAnChoMeo() {
            //Danh mục thức ăn cho mèo
            var dsThucAnChoMeo = danhSachSanPhamTheoDanhMuc('Thức ăn cho mèo');
            dsSanPham1.innerHTML = hienThiSanPhamTheoTrang(1, dsThucAnChoMeo);
            document.getElementById('category--thucanchocho').style.color = '#333'
            document.getElementById('category--phukienchomeo').style.color = '#333'
            document.getElementById('category--phukienchocho').style.color = '#333'
            document.getElementById('category--thucanchomeo').style.color = '#ffc700';
            // Sự kiện gán cho nút chuyển trang
            // Chuyển trang Desktop
            var page_1 = document.getElementById('page-1');
            var page_2 = document.getElementById('page-2');
            // var page_3 = document.getElementById('page-3');
            //--Page-1
            page_1.addEventListener('click', function () {
                var danhSachSanPham = JSON.parse(localStorage.getItem('danhSachSanPhamTam'));
                dsSanPham1.innerHTML = hienThiSanPhamTheoTrang(1, dsThucAnChoMeo);
            })
            //--Page-2
            page_2.addEventListener('click', function () {
                var danhSachSanPham = JSON.parse(localStorage.getItem('danhSachSanPhamTam'));
                dsSanPham1.innerHTML = hienThiSanPhamTheoTrang(2, dsThucAnChoMeo);
            })

        }

        //--Hiện danh mục phụ kiện cho chó
        function hienDanhMucPhuKienChoCho() {
            //Danh mục phụ kiện cho chó
            var dsPhuKienChoCho = danhSachSanPhamTheoDanhMuc('Phụ kiện cho chó');
            dsSanPham1.innerHTML = hienThiSanPhamTheoTrang(1, dsPhuKienChoCho);
            document.getElementById('category--thucanchocho').style.color = '#333'
            document.getElementById('category--thucanchomeo').style.color = '#333'
            document.getElementById('category--phukienchomeo').style.color = '#333'
            document.getElementById('category--phukienchocho').style.color = '#ffc700';
            // Sự kiện gán cho nút chuyển trang
            // Chuyển trang Desktop
            var page_1 = document.getElementById('page-1');
            var page_2 = document.getElementById('page-2');
            // var page_3 = document.getElementById('page-3');
            //--Page-1
            page_1.addEventListener('click', function () {
                var danhSachSanPham = JSON.parse(localStorage.getItem('danhSachSanPhamTam'));
                dsSanPham1.innerHTML = hienThiSanPhamTheoTrang(1, dsPhuKienChoCho);
            })
            //--Page-2
            page_2.addEventListener('click', function () {
                var danhSachSanPham = JSON.parse(localStorage.getItem('danhSachSanPhamTam'));
                dsSanPham1.innerHTML = hienThiSanPhamTheoTrang(2, dsPhuKienChoCho);
            })

        }


        //--Hiện danh mục phụ kiện cho mèo
        function hienDanhMucPhuKienChoMeo() {
            //Danh mục phụ kiện cho mèo
            var dsPhuKienChoMeo = danhSachSanPhamTheoDanhMuc('Phụ kiện cho mèo');
            dsSanPham1.innerHTML = hienThiSanPhamTheoTrang(1, dsPhuKienChoMeo);
            document.getElementById('category--thucanchocho').style.color = '#333'
            document.getElementById('category--thucanchomeo').style.color = '#333'
            document.getElementById('category--phukienchocho').style.color = '#333'
            document.getElementById('category--phukienchomeo').style.color = '#ffc700';
            // Sự kiện gán cho nút chuyển trang
            // Chuyển trang Desktop
            var page_1 = document.getElementById('page-1');
            var page_2 = document.getElementById('page-2');
            // var page_3 = document.getElementById('page-3');
            //--Page-1
            page_1.addEventListener('click', function () {
                var danhSachSanPham = JSON.parse(localStorage.getItem('danhSachSanPhamTam'));
                dsSanPham1.innerHTML = hienThiSanPhamTheoTrang(1, dsPhuKienChoMeo);
            })
            //--Page-2
            page_2.addEventListener('click', function () {
                var danhSachSanPham = JSON.parse(localStorage.getItem('danhSachSanPhamTam'));
                dsSanPham1.innerHTML = hienThiSanPhamTheoTrang(2, dsPhuKienChoMeo);
            })

        }

        //------------------------------
        // Button sắp xếp tăng dần
        document.getElementById('tangdan').addEventListener('click', function () {
            var danhSachSanPham = JSON.parse(localStorage.getItem('danhSachSanPhamTam'));
            localStorage.setItem('danhSachSanPhamTam', JSON.stringify(sapXepGiaTangDan(danhSachSanPham)));
            window.location.reload();
        })

        // Button sắp xếp giảm dần
        document.getElementById('giamdan').addEventListener('click', function () {
            var danhSachSanPham = JSON.parse(localStorage.getItem('danhSachSanPhamTam'));
            localStorage.setItem('danhSachSanPhamTam', JSON.stringify(sapXepGiaGiamDan(danhSachSanPham)));
            window.location.reload();
        })



        //---------------------------
        document.getElementById('sanpham-category').addEventListener('click', function () {
            localStorage.removeItem('danhSachSanPhamTam');
            window.location.reload();
        })

        //-------------------MOBILE---------------------
        //Sắp xếp theo danh mục
        //--Hiện danh mục thức ăn cho chó
        function hienDanhMucThucAnChoCho_Mobile() {
            //Danh mục thức ăn cho chó
            var dsThucAnChoCho = danhSachSanPhamTheoDanhMuc('Thức ăn cho chó');
            dsSanPham2.innerHTML = hienThiSanPhamTheoTrang(1, dsThucAnChoCho);
            kiemTraXemThem(dsThucAnChoCho);
        }
        //--Hiện danh mục thức ăn cho mèo
        function hienDanhMucThucAnChoMeo_Mobile() {
            //Danh mục thức ăn cho mèo
            var dsThucAnChoMeo = danhSachSanPhamTheoDanhMuc('Thức ăn cho mèo');
            dsSanPham2.innerHTML = hienThiSanPhamTheoTrang(1, dsThucAnChoMeo);
            kiemTraXemThem(dsThucAnChoMeo);
        }
        //--Hiện danh mục phụ kiện cho chó
        function hienDanhMucPhuKienChoCho_Mobile() {
            //Danh mục phụ kiện cho chó
            var dsPhuKienChoCho = danhSachSanPhamTheoDanhMuc('Phụ kiện cho chó');
            dsSanPham2.innerHTML = hienThiSanPhamTheoTrang(1, dsPhuKienChoCho);
            kiemTraXemThem(dsPhuKienChoCho);
        }
        //--Hiện danh mục phụ kiện cho mèo
        function hienDanhMucPhuKienChoMeo_Mobile() {
            //Danh mục phụ kiện cho mèo
            var dsPhuKienChoMeo = danhSachSanPhamTheoDanhMuc('Phụ kiện cho mèo');
            dsSanPham2.innerHTML = hienThiSanPhamTheoTrang(1, dsPhuKienChoMeo);
            kiemTraXemThem(dsPhuKienChoMeo);
        }
        document.getElementById('sanpham-category2').addEventListener('click', function () {
            localStorage.removeItem('danhSachSanPhamTam');
            window.location.reload();
        })

        //Khi trở về màn hình desktop thì menu navbar của mobile phải tắt
        window.onresize = function () {
            if (!window.matchMedia('(max-width: 740px)').matches) {
                document.getElementById('nav-mobile-input').checked = false;
            }
        } 
    </script> -->
</body>

</html>