<div>
    <!-- hearder chờ bỏ vào -->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    
  </nav>
  
  <!-- Body  -->
  <div class="container">
    <div class="row">
        <!-- phân cột bên trái chờ bỏ vào -->
      <div class="col-sm-2">
        
      </div>

      <!-- Phần cột bên phải do mình code -->
        <div class="col-sm-10">
            <!-- Điều kiện lọc -->
        <div>
            <option value=""></option>
        </div>
        <!-- Bảng  -->
        <div>
            <table  class="tb text-center">
                <tr>
                    <th>Mã</th>
                    <th>Ngày đặt</th>
                    <th>Khách hàng</th>
                    <th>Status</th>
                    <th>Tổng tiền</th>
                </tr>
                <tr>
                    <td>#100123</td>
                    <td>17/03/2022 15:20</td>
                    <td>Nguyễn Văn A</td>
                    <td>
                        <button class="bg--button btn">Chờ xác nhận</button>
                    </td>
                    <td>390,000 đ</td>
                </tr>
                <tr>
                    <td>#100123</td>
                    <td>17/03/2022 15:20</td>
                    <td>Nguyễn Văn A</td>
                    <td>
                        <button class="bg--button btn">Chờ xác nhận</button>
                    </td>
                    <td>390,000 đ</td>
                </tr>
                <tr>
                    <td>#100123</td>
                    <td>17/03/2022 15:20</td>
                    <td>Nguyễn Văn A</td>
                    <td>
                        <button class="bg--button btn">Chờ xác nhận</button>
                    </td>
                    <td>390,000 đ</td>
                </tr>
                <tr>
                    <td>#100123</td>
                    <td>17/03/2022 15:20</td>
                    <td>Nguyễn Văn A</td>
                    <td>
                        <button class="bg--button btn">Chờ xác nhận</button>
                    </td>
                    <td>390,000 đ</td>
                </tr>
                <tr>
                    <td>#100123</td>
                    <td>17/03/2022 15:20</td>
                    <td>Nguyễn Văn A</td>
                    <td>
                        <button class="bg--button btn">Chờ xác nhận</button>
                    </td>
                    <td>390,000 đ</td>
                </tr>
                <tr>
                    <td>#100123</td>
                    <td>17/03/2022 15:20</td>
                    <td>Nguyễn Văn A</td>
                    <td>
                        <button class="bg--button btn">Chờ xác nhận</button>
                    </td>
                    <td>390,000 đ</td>
                </tr>

            </table>
        </div>
        </div>
    </div>
    </div>
  
  <!-- footer chờ bỏ vào -->
    <div class="jumbotron text-center bg-dark" >
  </div>

</div>
  
