<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
</head>

<body>
    <!-- Header -->
    <app-header></app-header>
    <!-- Nội dung đăng nhập -->
    <div class="dangnhap--container col-12">
        <div class="dangnhap--title">ĐĂNG NHẬP</div>
        <div>Nếu bạn có tài khoản, xin vui lòng đăng nhập.</div>
        <form class="col-12" [formGroup]="logForm" (ngSubmit)="dangNhap(logForm)">
            <div class="dangnhap--sdt">
                <label for="sdt" class="col-12">Số điện thoại <span>*</span></label>
                <input type="text" placeholder="Số điện thoại" id="sdt" name="sdt" class="col-12 form-control input" [(ngModel)]="user.sdt" formControlName="sdt" [class.warning]="sdt.invalid && sdt.touched" [class.is-invalid]="sdt.invalid && sdt.touched" maxlength="10">
                <div *ngIf="sdt.invalid && sdt.touched">
                    <small *ngIf="sdt.errors?.['required'] === true" class="text-danger">Bạn cần nhập số điện thoại</small>
                    <small *ngIf="(sdt.errors?.['nameNotMatch']) && sdt.value" class="text-danger">Số điện thoại phải có 10 số, bắt đầu bằng số 0, chỉ được chứa số từ 0 đến 9</small>
                </div>
            </div>

            <div class="dangnhap--matkhau">
                <label for="mk" class="col-12">Mật khẩu <span>*</span></label>
                <input type="password" placeholder="Mật khẩu" id="mk" name="mk" class="col-12 input form-control" [(ngModel)]="user.matKhau" formControlName="matKhau" [ngClass]="{'is-invalid warning': matKhau.invalid && matKhau.touched}">
                <div *ngIf="matKhau.invalid && matKhau.touched">
                    <small *ngIf="matKhau.errors?.['required']" class="text-danger">Bạn cần nhập mật khẩu</small>
                    <small *ngIf="matKhau.errors?.['minlength'] && matKhau.value" class="text-danger">Mật khẩu phải có ít nhất 5 ký tự</small>
                </div>
            </div>
            <div class="btn--dangnhap center">
                <input type="submit" class="btn-primary" [class.submit-disable]="logForm.invalid" value="Đăng nhập" [disabled]="logForm.invalid">
            </div>
            <div class="dangnhap--dangky">
                Bạn chưa có tài khoản?
                <a routerLink="/dangky" routerLinkActive="active">Đăng ký tại đây</a>
            </div>
            <div class="dangnhap--google center">
                <label for="">Hoặc đăng nhập bằng</label>
                <button class="btn--google">
                   <div class="fab fa-google "></div> Continue with Google
                </button>
            </div>
        </form>
    </div>
    <!-- Footer -->
    <app-footer></app-footer>
</body>

</html>