<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pop up xóa bài viết thành công</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>

<body>
    <a href="#bsw_popup">Xóa bài viết</a>
    <div id='bsw_popup'>
        <div class='bsw_popup_'>
            <div class="form-title">
                <h3 class="title-text">Bạn có muốn xóa bài viết không?</h3>
                <i class="fa fa-close"></i>
            </div>
            <div class="fa--check">
                <i class="fas fa-check-circle" style="color: green"></i>
            </div>
            <div class="container">
                <form action="/action_page.php">
                    <!-- /action_page.php -->
                    <div class="">
                        <input class="button_form" type="submit" value="Không">
                        <input class="button_form" type="submit" value="Có">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>