<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <title>Don hang admin</title>
</head>

<body>
    <div class="row">
        <div class=" col-xl-2 col-lg-2 col-md-1 col-sm-1 col-1">
            <app-adminnavbar></app-adminnavbar>
            <!-- Body  -->
        </div>
        <div class="app col-xl-10 col-lg-10 col-md-11 col-sm-11 col-11 content">
            <div>
                <app-adminheader></app-adminheader>
            </div>
            <div class="mg-top container-fluid ">

                <!-- Phần cột bên phải do mình code -->

                <!-- Điều kiện lọc -->
                <div class="mb-3 d-flex flex-row">
                    <div class="p-2">
                        <label for="dieukienloc">Điều kiện lọc:</label>
                    </div>
                    <div>
                        <select id="dieukienloc" aria-label="Default select example" name="dieukienloc" class="form-select bg-warning" [class.is-invalid]="errorFlag">
                        <option selected value="none" >Tất cả</option>
                        <option  *ngFor="let d of dieukienloc">{{d}}</option>
                    </select>
                    </div>
                </div>

                <!-- Bảng  -->
                <div class="row">
                    <div class="d-flex flex-row row">
                        <div class="p-2 col-md-2  ma__display">
                            <p class="text-center"><strong>Mã</strong></p>
                        </div>
                        <div class="p-2 col-md-3 ngaydat__display">
                            <p class="text-center"><strong>Ngày đặt</strong></p>
                        </div>
                        <div class="p-2 col-md-2 kh__display">
                            <p class="text-center"><strong>Khách hàng</strong></p>
                        </div>
                        <div class="p-2 col-md-3 status__display">
                            <p class="text-center"><strong>Status</strong></p>
                        </div>
                        <div class="p-2 col-md-2 tongtien__display">
                            <p class="text-center"><strong>Tổng tiền</strong></p>
                        </div>
                        <hr class="hr hr__display">
                    </div>

                    <div class="d-flex flex-row row">
                        <div class="p-2 col-xl-2 col-md-2 col-sm-3">
                            <p class="text-center">#100123</p>
                        </div>
                        <div class="p-2 col-xl-3 col-md-3 col-sm-5">
                            <p class="text-center">17/03/2022 15:20</p>
                        </div>
                        <div class="p-2 col-xl-2 col-md-2 col-sm-4">
                            <p class="text-center">Nguyễn Văn A</p>
                        </div>
                        <div class="p-2 col-xl-3 col-md-3 col-sm-7 font-weight-normal text-center">
                            <span class="badge bg--button badge-warning ">Chờ xác nhận</span>
                        </div>
                        <div class="p-2 col-xl-2 col-md-2 col-sm-5">
                            <p class="text-center">390,000 đ</p>
                        </div>
                        <hr class="hr">

                    </div>

                    <div class="d-flex flex-row row">
                        <div class="p-2 col-xl-2 col-md-2 col-sm-3">
                            <p class="text-center">#100123</p>
                        </div>
                        <div class="p-2 col-xl-3 col-md-3 col-sm-5">
                            <p class="text-center">17/03/2022 15:20</p>
                        </div>
                        <div class="p-2 col-xl-2 col-md-2 col-sm-4">
                            <p class="text-center">Nguyễn Văn A</p>
                        </div>
                        <div class="p-2 col-xl-3 col-md-3 col-sm-7 font-weight-normal text-center">
                            <span class="badge bg--button badge-warning ">Chờ xác nhận</span>
                        </div>
                        <div class="p-2 col-xl-2 col-md-2 col-sm-5">
                            <p class="text-center">390,000 đ</p>
                        </div>
                        <hr class="hr">

                    </div>

                    <div class="d-flex flex-row row">
                        <div class="p-2 col-xl-2 col-md-2 col-sm-3">
                            <p class="text-center">#100123</p>
                        </div>
                        <div class="p-2 col-xl-3 col-md-3 col-sm-5">
                            <p class="text-center">17/03/2022 15:20</p>
                        </div>
                        <div class="p-2 col-xl-2 col-md-2 col-sm-4">
                            <p class="text-center">Nguyễn Văn A</p>
                        </div>
                        <div class="p-2 col-xl-3 col-md-3 col-sm-7 font-weight-normal text-center">
                            <span class="badge bg--button badge-warning ">Chờ xác nhận</span>
                        </div>
                        <div class="p-2 col-xl-2 col-md-2 col-sm-5">
                            <p class="text-center">390,000 đ</p>
                        </div>
                        <hr class="hr">
                    </div>

                    <div class="d-flex flex-row row">
                        <div class="p-2 col-xl-2 col-md-2 col-sm-3">
                            <p class="text-center">#100123</p>
                        </div>
                        <div class="p-2 col-xl-3 col-md-3 col-sm-5">
                            <p class="text-center">17/03/2022 15:20</p>
                        </div>
                        <div class="p-2 col-xl-2 col-md-2 col-sm-4">
                            <p class="text-center">Nguyễn Văn A</p>
                        </div>
                        <div class="p-2  col-xl-3 col-md-3 col-sm-7 text-center">
                            <div class="w-100"><span class="badge bg--button badge-warning">Chờ xác nhận</span></div>
                        </div>
                        <div class="p-2 col-xl-2 col-md-2 col-sm-5">
                            <p class="text-center">390,000 đ</p>
                        </div>
                        <hr class="hr">
                    </div>

                    <div class="d-flex flex-row row">
                        <div class="p-2 col-xl-2 col-md-2 col-sm-3">
                            <p class="text-center">#100123</p>
                        </div>
                        <div class="p-2 col-xl-3 col-md-3 col-sm-5">
                            <p class="text-center">17/03/2022 15:20</p>
                        </div>
                        <div class="p-2 col-xl-2 col-md-2 col-sm-4">
                            <p class="text-center">Nguyễn Văn A</p>
                        </div>
                        <div class="p-2 col-xl-3 col-md-3 col-sm-7 font-weight-normal text-center">
                            <span class="badge bg--button badge-warning ">Chờ xác nhận</span>
                        </div>
                        <div class="p-2 col-xl-2 col-md-2 col-sm-5">
                            <p class="text-center">390,000 đ</p>
                        </div>
                        <hr class="hr">
                    </div>

                    <!-- phần chuyển trang -->
                    <ul class="pagination home-product__pagination">
                        <li class="pagination-item">
                            <span href="#category-item" class="pagination-item__link ">
                        <i class="fa-solid fa-backward"></i>
                    </span>
                        </li>
                        <li class="pagination-item pagination-item--active">
                            <a href="#category-item" class="pagination-item__link " id="page-1">1</a>
                        </li>
                        <li class="pagination-item">
                            <a href="#category-item" class="pagination-item__link " id="page-2">2</a>
                        </li>

                        <li class="pagination-item">
                            <span href="#category-item" class="pagination-item__link ">
                        <i class="fa-solid fa-forward"></i>
                    </span>
                        </li>
                    </ul>
                    <div class="xemthem" id="xemthem">
                        <div id="more" onclick="xemThem()">
                            <span>
                        Xem thêm <i class="select-input__icon fas fa-angle-down"></i>
                    </span>
                        </div>
                    </div>
                </div>


            </div>
            <div>
                <!-- footer chờ bỏ vào -->
                <app-adminfooter></app-adminfooter>
            </div>
        </div>
    </div>

</body>

</html>