
<!-- <app-donhang-admin></app-donhang-admin> -->
<!-- <app-popup-xoa-baiviet-thanhcong></app-popup-xoa-baiviet-thanhcong> -->
<app-product-admin></app-product-admin>


<!-- <app-thongtinfooter></app-thongtinfooter> -->
<app-chitietdonhang-admin></app-chitietdonhang-admin>
<!-- <app-home></app-home> -->

<!-- <app-donhang-admin></app-donhang-admin> -->
<!-- <app-blogtrangchu></app-blogtrangchu> -->
<!-- <app-popup-xoa-baiviet-thanhcong></app-popup-xoa-baiviet-thanhcong> -->
<app-admindashboard></app-admindashboard>
<!-- <app-admin-blogtrangchu></app-admin-blogtrangchu> -->
<!-- <app-popup-xoa-baiviet-thanhcong></app-popup-xoa-baiviet-thanhcong> -->

