
<!-- <div class="container">
      <div class="header">
            <div class="nav">
                  <div class="search">
                        <input type="text" placeholder="Tìm kiếm...">
                        <button type="submit"><img src="../assets/image/search-interface-symbol.png" alt=""></button>
                  </div>
                  <div class="user">
                        <div class="img-case">
                              <div>
                                    Kim Quy <span>Tp. HCM</span>
                              </div>
                              <img src="../assets/image/admin-avatar.jpg" alt="">
                        </div>
                  </div>
            </div>
      </div>
</div> -->

<div class="topbar">
      <div class="logo">
            <img class="brand-logo" src="../assets/image/logo_white.png">
            <p>SUNPET</p>
      </div>
      <div class="search">
            <input type="text" name="search" placeholder="search here">
            <label for="search"><i class="fas fa-search"></i></label>
      </div>
      <div class="user">
            <div class="">
                 <span>Kim Quy</span><span>Tp. HCM</span> 
            </div>
            <div>
                  <img class="admin-avatar" src="../assets/image/admin-avatar.jpg" alt="">
            </div>
      </div>
</div>