<div class="topbar">
      <div class="search">
            <input type="text" name="search" placeholder="search here">
            <label for="search"><i class="fas fa-search"></i></label>
      </div>
      <div class="user">
            <div class="">
                  <span>Kim Quy</span><br>
                  <small>Tp. HCM</small>
            </div>
            <!-- ----------------------------- -->
            <!-- <div class="notification_wrap">
                  <div class="notification_icon">
                        <i class="fas fa-bell"></i>
                  </div>
                  <div class="dropdown">
                        <div class="notify_item">
                              <div class="notify_img">
                                    <img src="images/not_1.png" alt="profile_pic" style="width: 50px">
                              </div>
                              <div class="notify_info">
                                    <p>Alex commented on<span>Timeline Share</span></p>
                                    <span class="notify_time">10 minutes ago</span>
                              </div>
                        </div>
                        <div class="notify_item">
                              <div class="notify_img">
                                    <img src="images/not_2.png" alt="profile_pic" style="width: 50px">
                              </div>
                              <div class="notify_info">
                                    <p>Ben hur commented on your<span>Timeline Share</span></p>
                                    <span class="notify_time">55 minutes ago</span>
                              </div>
                        </div>
                        <div class="notify_item">
                              <div class="notify_img">
                                    <img src="images/not_3.png" alt="profile_pic" style="width: 50px">
                              </div>
                              <div class="notify_info">
                                    <p>Meryn trant liked your<span>Cover Picture</span></p>
                                    <span class="notify_time">2 hours ago</span>
                              </div>
                        </div>
                        <div class="notify_item">
                              <div class="notify_img">
                                    <img src="images/not_4.png" alt="profile_pic" style="width: 50px">
                              </div>
                              <div class="notify_info">
                                    <p>John wick commented on your<span>Profile Picture</span></p>
                                    <span class="notify_time">6 hours ago</span>
                              </div>
                        </div>
                  </div>
            </div> -->
            <!-- ----------------------------- -->
            <!-- <div>
                  <img class="admin-avatar" src="../assets/image/admin-avatar.jpg" alt="">
            </div>
            <div class="user-dropdown">
                  <ul>
                        <li><i class="fa-solid fa-chevron-down"></i>
                              <ul>
                                    <li><i class="fa-solid fa-user"></i>Hồ sơ</li>
                                    <li><i class="fa-solid fa-gear"></i>Cài đặt</li>
                                    <li><i class="fa-solid fa-arrow-right-from-bracket"></i>Đăng xuất</li>
                              </ul>
                        </li>
                  </ul>
            </div> -->
      </div>
      </div>
 