
<div class="topbar">
      <div class="logo">
            <img class="brand-logo" src="../assets/image/logo_white.png">
            <p>SUNPET</p>
      </div>
      <div class="search">
            <input type="text" name="search" placeholder="search here">
            <label for="search"><i class="fas fa-search"></i></label>
      </div>
      <div class="user">
            <div class="">
                 <span>Kim Quy</span><span>Tp. HCM</span> 
            </div>
            <div>
                  <img class="admin-avatar" src="../assets/image/admin-avatar.jpg" alt="">
            </div>
      </div>
</div>