<!-- <div class="side-menu">
      <div class="brand-name">
            <img class="brand-logo" src="../assets/image/logo_white.png">
            <h1>SUNPET</h1>
      </div>
      <ul>
            <li><i class="fa-solid fa-house-window"></i> &nbsp; <span>Quản lý chung</span> </li>
            <li><i class="fa-solid fa-cart-shopping"></i> &nbsp;<span>Sản phẩm</span> </li>
            <li><i class="fa-solid fa-memo"></i> &nbsp;<span>Bài viết</span> </li>
            <li><i class="fa-solid fa-ballot-check"></i> &nbsp;<span>Đơn hàng</span> </li>
            <li><i class="fa-solid fa-browsers"></i> &nbsp;<span>Website</span> </li>
            <li><i class="fa-solid fa-gear"></i> &nbsp; <span>Cài đặt</span></li>
      </ul>
</div> -->
<div class="sidebar">
    <ul>
        <li>
            <a href="#">
                <i class="fa-solid fa-house-window"></i>
                <!-- <i class="fas fa-th-large"></i> -->
                <div>Quản lý chung</div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-cart-shopping"></i>
                <!-- <i class="fas fa-user-graduate"></i> -->
                <div>Sản phẩm</div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-memo"></i>
                <!-- <i class="fas fa-chalkboard-teacher"></i> -->
                <div>Bài viết</div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-ballot-check"></i>
                <!-- <i class="fas fa-users"></i> -->
                <div>Đơn hàng</div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-browsers"></i>
                <!-- <i class="fas fa-chart-bar"></i> -->
                <div>Website</div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-cog"></i>
                <div>Cài đặt</div>
            </a>
        </li>
    </ul>
</div>