<!-- <input type="checkbox" id="sidebar-toggle"> -->
    <div class="sidebar col-lg-2 col-xl-2 col-md-1 col-sm-1 col-1">
        <div class="sidebar-header">
            <label for="sidebar-toggle" class="ti-menu-alt"><i class="fa-solid fa-bars"></i></label>
        </div>

        <div class="sidebar-menu ">
            <ul>
                <li>
                    <a href="">
                        <i class="fa-solid fa-gauge"></i>
                        <span>Quản lý chung</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span>Sản phẩm</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa-solid fa-image"></i>
                        <span>Bài viết</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class='fas fa-money-check'></i>
                        <span>Đơn hàng</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa-solid fa-earth-asia"></i>
                        <span>Website</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fas fa-cog"></i>
                        <span>Cài đặt</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
