<div class="container">
      <app-adminheader></app-adminheader>
      <app-adminnavbar></app-adminnavbar>
      <div class="main">
            <div class="col-lg-6 col-md-6 cards">
                  <div class="card">
                        <div class="box">
                              <h5>Doanh thu</h5>
                              <h3>7,482,120&nbsp;<small class="text-success">+5,2%</small></h3>
                        </div>
                  </div>
                  <div class="card">
                        <div class="box">
                              <h5>Doanh thu</h5>
                              <h3>7,482,120&nbsp;<small class="text-primary">+5,2%</small></h3>
                        </div>
                  </div>
                  <div class="card">
                        <div class="box">
                              <h5>Doanh thu</h5>
                              <h3>7,482,120 &nbsp;<small class="text-primary">+5,2%</small></h3>
                        </div>
                  </div>
                  <div class="card">
                        <div class="box">
                              <h5>Doanh thu</h5>
                              <h3>7,482,120&nbsp;<small class="text-primary">+5,2%</small></h3>
                        </div>
                  </div>

                  <div class="content-2">
                        <div class="recent-payments">
                              <div class="title">
                                    <h2>Bán chạy</h2>
                                    <a href="#" class="btn">Hàng tháng</a>
                              </div>
                              <table>
                                    <tr>
                                          <th>Tên sản phẩm</th>
                                          <th>Mã sản phẩm</th>
                                          <th>Giá</th>
                                          <th>Trạng thái</th>
                                    </tr>
                                    <tr>
                                          <td>Sữa bột cho mèo</td>
                                          <td>M15314</td>
                                          <td>500.000đ</td>
                                          <td>Đã duyệt</td>
                                    </tr>
                                    <tr>
                                          <td>Sữa bột cho mèo</td>
                                          <td>M15314</td>
                                          <td>500.000đ</td>
                                          <td>Đã duyệt</td>
                                    </tr>
                                    <tr>
                                          <td>Sữa bột cho mèo</td>
                                          <td>M15314</td>
                                          <td>500.000đ</td>
                                          <td>Đã duyệt</td>
                                    </tr>
                              </table>
                        </div>
                  </div>
            </div>
            <div class="col-lg-5 col-md-5 ">
                  <div class="charts">
                        <app-line-chart></app-line-chart>
                  </div>
                  <div class="charts">
                        <app-piechart></app-piechart>
                  </div>
            </div>
      </div>
      <app-adminfooter></app-adminfooter>
</div>