<div id="chatbox">
  <section class="discussions">
    <div class="discussion message-active">
      <div class="photo"
        style="background-image: url(https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
        <div class="online"></div>
      </div>
      <div class="desc-contact">
        <p class="name">Megan Leib</p>
        <p class="message">9 pm at the bar if possible 😳</p>
      </div>
      <div class="timer">12 sec</div>
    </div>
    <div class="discussion">
      <div class="photo"
        style="background-image: url(https://i.pinimg.com/originals/a9/26/52/a926525d966c9479c18d3b4f8e64b434.jpg);">
        <div class="online"></div>
      </div>
      <div class="desc-contact">
        <p class="name">Dave Corlew</p>
        <p class="message">Let's meet for a coffee or something today ?</p>
      </div>
      <div class="timer">3 min</div>
    </div>

    <div class="discussion">
      <div class="photo"
        style="background-image: url(https://images.unsplash.com/photo-1497551060073-4c5ab6435f12?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80);">
      </div>
      <div class="desc-contact">
        <p class="name">Jerome Seiber</p>
        <p class="message">I've sent you the annual report</p>
      </div>
      <div class="timer">42 min</div>
    </div>
    <div class="discussion">
      <div class="photo" style="background-image: url(https://card.thomasdaubenton.com/img/photo.jpg);">
        <div class="online"></div>
      </div>
      <div class="desc-contact">
        <p class="name">Thomas Dbtn</p>
        <p class="message">See you tomorrow ! 🙂</p>
      </div>
      <div class="timer">2 hour</div>
    </div>
    <div class="discussion">
      <div class="photo"
        style="background-image: url(https://images.unsplash.com/photo-1553514029-1318c9127859?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80);">
      </div>
      <div class="desc-contact">
        <p class="name">Elsie Amador</p>
        <p class="message">What the f**k is going on ?</p>
      </div>
      <div class="timer">1 day</div>
    </div>
    <div class="discussion">
      <div class="photo"
        style="background-image: url(https://images.unsplash.com/photo-1541747157478-3222166cf342?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=967&q=80);">
      </div>
      <div class="desc-contact">
        <p class="name">Billy Southard</p>
        <p class="message">Ahahah 😂</p>
      </div>
      <div class="timer">4 days</div>
    </div>
    <div id="topmenu">
      <span class="friends"></span>
      <span class="chats"></span>
      <span class="history"></span>
    </div>
  </section>

  <!-- -------------------------------------- -->

  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-4 border-right">
        <div class="settings-tray">
          <img class="profile-image" src="https://www.clarity-enhanced.net/wp-content/uploads/2020/06/filip.jpg"
            alt="Profile img">
          <span class="settings-tray--right">
            <i class="material-icons">cached</i>
            <i class="material-icons">message</i>
            <i class="material-icons">menu</i>
          </span>
        </div>
        <div class="search-box">
          <div class="input-wrapper">
            <i class="material-icons">search</i>
            <input placeholder="Search here" type="text">
          </div>
        </div>
        <div class="friend-drawer friend-drawer--onhover">
          <img class="profile-image" src="https://www.clarity-enhanced.net/wp-content/uploads/2020/06/robocop.jpg"
            alt="">
          <div class="text">
            <h6>Robo Cop</h6>
            <p class="text-muted">Hey, you're arrested!</p>
          </div>
          <span class="time text-muted small">13:21</span>
        </div>
        <hr>
        <div class="friend-drawer friend-drawer--onhover">
          <img class="profile-image"
            src="https://www.clarity-enhanced.net/wp-content/uploads/2020/06/optimus-prime.jpeg" alt="">
          <div class="text">
            <h6>Optimus</h6>
            <p class="text-muted">Wanna grab a beer?</p>
          </div>
          <span class="time text-muted small">00:32</span>
        </div>
        <hr>
        <div class="friend-drawer friend-drawer--onhover ">
          <img class="profile-image"
            src="https://www.clarity-enhanced.net/wp-content/uploads/2020/06/real-terminator.png" alt="">
          <div class="text">
            <h6>Skynet</h6>
            <p class="text-muted">Seen that canned piece of s?</p>
          </div>
          <span class="time text-muted small">13:21</span>
        </div>
        <hr>
        <div class="friend-drawer friend-drawer--onhover">
          <img class="profile-image" src="https://www.clarity-enhanced.net/wp-content/uploads/2020/06/termy.jpg" alt="">
          <div class="text">
            <h6>Termy</h6>
            <p class="text-muted">Im studying spanish...</p>
          </div>
          <span class="time text-muted small">13:21</span>
        </div>
        <hr>
        <div class="friend-drawer friend-drawer--onhover">
          <img class="profile-image" src="https://www.clarity-enhanced.net/wp-content/uploads/2020/06/rick.jpg" alt="">
          <div class="text">
            <h6>Richard</h6>
            <p class="text-muted">I'm not sure...</p>
          </div>
          <span class="time text-muted small">13:21</span>
        </div>
        <hr>
        <div class="friend-drawer friend-drawer--onhover">
          <img class="profile-image" src="https://www.clarity-enhanced.net/wp-content/uploads/2020/06/rachel.jpeg"
            alt="">
          <div class="text">
            <h6>XXXXX</h6>
            <p class="text-muted">Hi, wanna see something?</p>
          </div>
          <span class="time text-muted small">13:21</span>
        </div>
      </div>
      <div class="col-md-8">
        <div class="settings-tray">
          <div class="friend-drawer no-gutters friend-drawer--grey">
            <img class="profile-image" src="https://www.clarity-enhanced.net/wp-content/uploads/2020/06/robocop.jpg"
              alt="">
            <div class="text">
              <h6>Robo Cop</h6>
              <p class="text-muted">Layin' down the law since like before Christ...</p>
            </div>
            <span class="settings-tray--right">
              <i class="material-icons">cached</i>
              <i class="material-icons">message</i>
              <i class="material-icons">menu</i>
            </span>
          </div>
        </div>
        <div class="chat-panel">
          <div class="row no-gutters">
            <div class="col-md-3">
              <div class="chat-bubble chat-bubble--left">
                Hello dude!
              </div>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-md-3 offset-md-9">
              <div class="chat-bubble chat-bubble--right">
                Hello dude!
              </div>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-md-3 offset-md-9">
              <div class="chat-bubble chat-bubble--right">
                Hello dude!
              </div>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-md-3">
              <div class="chat-bubble chat-bubble--left">
                Hello dude!
              </div>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-md-3">
              <div class="chat-bubble chat-bubble--left">
                Hello dude!
              </div>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-md-3">
              <div class="chat-bubble chat-bubble--left">
                Hello dude!
              </div>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-md-3 offset-md-9">
              <div class="chat-bubble chat-bubble--right">
                Hello dude!
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="chat-box-tray">
                <i class="material-icons">sentiment_very_satisfied</i>
                <input type="text" placeholder="Type your message here...">
                <i class="material-icons">mic</i>
                <i class="material-icons">send</i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(".friend-drawer--onhover").on("click", function () {
    $(".chat-bubble").hide("slow").show("slow");
  });
</script>