outer-wrapper {
    margin: 10px;
    margin-left: 20px;
      margin-right: 20px;


     max-width: fit-content;

    max-height: fit-content;
}

.table-wrapper {
    overflow-y: scroll;
      /* overflow-x: scroll; */
    scroll-snap-type: both mandatory;
    height: fit-content;
    max-height: 66.4vh;
    margin-top: 22px;
    margin: 5px;
    padding-bottom: 20px;
}

/* ------- */
#scrollbar::-webkit-scrollbar-track {
    background-color: #F5F5F5;
    border-radius: 10px;
}

#scrollbar::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
    height: 5px;
}

#scrollbar::-webkit-scrollbar-thumb {
    background-color: #F90;
    background-image: -webkit-linear-gradient(90deg,
            rgba(255, 255, 255, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%,
            transparent);
    height: 5px;
}


table {
    min-width: max-content;
    border-collapse: separate;
    border-spacing: 0px;
}



table thead {
    position: sticky;
    background-color: #fff;
    top: 0px;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
}



table th,
table td {
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

}

table td {
    text-align: left;
    font-size: 15px;
    padding-left: 20px;

}

.card-footer {
    position: sticky;
}

.modal-header {
    background-color: #fca800;
    color: #fff;
}

/* --------------- */
.form fieldset {
    border: none;
    padding: 0;
    padding: 10px 0;
    position: relative;
    clear: both;
}

.form fieldset label {
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    color: #fca800;
    margin-bottom: 5px;
    font-weight: bold;
}

.form fieldset input {
    width: 100%;
    height: 38px;
    color: #333333;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    outline: none !important;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
}

.form fieldset input.input-cart-date {
    width: 82px;
    display: inline-block;
    margin-right: 8px;
}

.form fieldset input.input-cart-date:last-child {
    margin-right: 0;
}
/* ----------- */
/* ---------------- */
@media screen and (max-width: 600px) {

table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #fff;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #fff;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label không được đọc tên trong bảng
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}

