<section class="" style="background-color:#FEF8E1 ;">
      <div class="container">
        <div class="row d-flex justify-content-center align-items-center h-100 ">
          <div class="outer-wrapper p-5">
            <div class="card m-1">
              <div class="card-header p-3" style="background-color:#fac700">
                <h5 class="mb-0" style="color:#fff"><i class="fas fa-tasks me-2"></i>CẦN LÀM</h5>
              </div>
              <div class="card-body table-wrapper p-0" id="scrollbar" data-mdb-perfect-scrollbar="true"
                style="position: relative; height: 400px">
    
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Thành viên</th>
                      <th scope="col">Nhiệm vụ</th>
                      <th scope="col">Mức độ</th>
                      <th scope="col">Thao tác</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="fw-normal" *ngFor="let t of todos, let i=index">
                      <td data-label="ID">
                        <span class="ms-2">{{i+1}}</span>
                      </td>
                      <td data-label="TenSP">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-5.webp"
                          class="shadow-1-strong rounded-circle" alt="avatar 1" style="width: 55px; height: auto;">
                        <span class="ms-2">{{t.name}}</span>
                      </td>
                      <td class="align-middle" data-label="TenSP">
                        <span>{{t.task}}</span>
                      </td>
                      <td class="align-middle" data-label="TenSP">
                        <h6 class="mb-0"><span class="badge bg-danger">{{t.level}}}</span></h6>
                      </td>
                      <td class="align-middle" data-label="TenSP" data-label="TenSP">
                        <a href="#!" data-mdb-toggle="tooltip" title="Done"><i
                            class="fas fa-check text-success me-3" (click)="onEdit(t)"></i></a>
                        <a href="#!" data-mdb-toggle="tooltip" title="Remove"><i
                            class="fas fa-trash-alt text-danger" (click)="onDelete(t.id, todoForm)"></i></a>
                      </td>
                    </tr>
                    <!-- <tr class="fw-normal">
                      <td data-label="ID">
                        <span class="ms-2">1</span>
                      </td>
                      <td data-label="TenSP">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-4.webp"
                          class="shadow-1-strong rounded-circle" alt="avatar 1" style="width: 55px; height: auto;">
                        <span class="ms-2">Kate Moss</span>
                      </td>
                      <td class="align-middle" data-label="TenSP">Make payment to Bluedart</td>
                      <td class="align-middle" data-label="TenSP">
                        <h6 class="mb-0"><span class="badge bg-success">Low priority</span></h6>
                      </td>
                      <td class="align-middle" data-label="TenSP">
                        <a href="#!" data-mdb-toggle="tooltip" title="Done"><i
                            class="fas fa-check text-success me-3"></i></a>
                        <a href="#!" data-mdb-toggle="tooltip" title="Remove"><i
                            class="fas fa-trash-alt text-danger"></i></a>
                      </td>
                    </tr>
                    <tr class="fw-normal">
                      <td data-label="ID">
                        <span class="ms-2">1</span>
                      </td>
                      <td data-label="">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
                          class="shadow-1-strong rounded-circle" alt="avatar 1" style="width: 55px; height: auto;">
                        <span class="ms-2">Danny McChain</span>
                      </td>
                      <td class="align-middle" data-label="">Office rent</td>
                      <td class="align-middle" data-label="">
                        <h6 class="mb-0"><span class="badge bg-warning">Middle priority</span></h6>
                      </td>
                      <td class="align-middle" data-label="">
                        <a href="#!" data-mdb-toggle="tooltip" title="Done"><i
                            class="fas fa-check text-success me-3"></i></a>
                        <a href="#!" data-mdb-toggle="tooltip" title="Remove"><i
                            class="fas fa-trash-alt text-danger"></i></a>
                      </td>
                    </tr>
                    <tr class="fw-normal">
                      <td data-label="ID">
                        <span class="ms-2">1</span>
                      </td>
                      <td data-label="">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-3.webp"
                          class="shadow-1-strong rounded-circle" alt="avatar 1" style="width: 55px; height: auto;">
                        <span class="ms-2">Alexa Chung</span>
                      </td>
                      <td class="align-middle" data-label="">Office grocery shopping</td>
                      <td class="align-middle" data-label="">
                        <h6 class="mb-0"><span class="badge bg-danger">High priority</span></h6>
                      </td>
                      <td class="align-middle" data-label="">
                        <a href="#!" data-mdb-toggle="tooltip" title="Done"><i
                            class="fas fa-check text-success me-3"></i></a>
                        <a href="#!" data-mdb-toggle="tooltip" title="Remove"><i
                            class="fas fa-trash-alt text-danger"></i></a>
                      </td>
                    </tr>
                    <tr class="fw-normal">
                      <td data-label="ID">
                        <span class="ms-2">1</span>
                      </td>
                      <td class="" data-label="">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-8.webp"
                          class="shadow-1-strong rounded-circle" alt="avatar 1" style="width: 55px; height: auto;">
                        <span class="ms-2">Ben Smith</span>
                      </td>
                      <td class="align-middle" data-label="">Ask for Lunch to Clients</td>
                      <td class="align-middle" data-label="">
                        <h6 class="mb-0"><span class="badge bg-success">Low priority</span></h6>
                      </td>
                      <td class="align-middle" data-label="">
                        <a href="#!" data-mdb-toggle="tooltip" title="Done"><i
                            class="fas fa-check text-success me-3"></i></a>
                        <a href="#!" data-mdb-toggle="tooltip" title="Remove"><i
                            class="fas fa-trash-alt text-danger"></i></a>
                      </td>
                    </tr> -->
                  </tbody>
                </table>
    
              </div>
              <div class="card-footer text-end p-3">
                <button class="me-2 btn btn btn-secondary">Hủy</button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop">Thêm</button>
              </div>
            </div>
    
          </div>
        </div>
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">CẦN LÀM</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="form-wrapper">
                  <form #todoForm="ngForm" (ngSubmit)="submitData(todoForm)" class="form" autocomplete="off" novalidate>
                    <input type="hidden" name="id" [(ngModel)]="todo['id']">
                    <fieldset>
                      <label for="card-member">Thành viên:</label>
                      <input type="text" id="card-member" name="card-member" class="form-control"
                      [(ngModel)]="todo['name']" />
                    </fieldset>
                    <fieldset>
                      <label for="card-task">Nhiệm vụ:</label>
                      <input type="text" id="card-task" name="card-task" class="form-control"
                      [(ngModel)]="todo['task']"/>
                    </fieldset>
                    <fieldset>
                      <label for="card-level">Mức độ</label>
                      <input type="text" id="card-level" name="card-level" class="form-control"
                      [(ngModel)]="todo['level']"/>
                    </fieldset>
                    <fieldset>
                      <label for="card-date">Thời hạn:</label>
                      <input type="num" id="card-date" class="input-cart-date" maxlength="4" />
                      <input type="num" id="card-date-1" class="input-cart-date" maxlength="4" />
                      <input type="num" id="card-date-2" class="input-cart-date" maxlength="4" />
                    </fieldset>
                  </form>
                </div>
              </div>
              <div class="modal-footer">
                <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="submit" class="btn btn-warning text-light">Thêm</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Bổ sung chỉnh sửa -->
   
    <!-- <div class="row row-3">
      <div class="content-2 col-xl-10 col-lg-10 col-md-10 col-sm-10 cards p-5 container-sm">
            <div class="recent-payments">
              <div class="card-header p-3" style="background-color:#fac700">
                <h5 class="mb-0" style="color:#fff"><i class="fas fa-tasks me-2"></i>CẦN LÀM</h5>
              </div>
              <div class="d-flex flex-row row mt-3">
                <div class=" col-xl-3 col-lg-4 col-md-4 col-sm-4 status__display">
                    <p class="text-center"><strong>Thành viên</strong></p>
                </div>
                <div class=" col-xl-3 col-lg-3 col-md-3 col-sm-3 status__display">
                    <p class="text-center"><strong>Nhiệm vụ</strong></p>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 status__display">
                    <p class="text-center"><strong>Mức độ</strong></p>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 status__display">
                    <p class="text-center"><strong>Thao tác</strong></p>
                </div>
            </div>
            <hr class="hr hr__display">
            <div class="d-flex flex-row row">
                <div class="p-2 col-xl-3 col-lg-4 col-md-4 col-sm-4 col-3 text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-4.webp"
                  class="shadow-1-strong rounded-circle" alt="avatar 1" style="width: 55px; height: auto;">
                <span class="ms-2">Kate Moss</span>
                </div>
                <div class="p-2 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-4 text-center">
                  <span>Call Sam For payments</span>
                </div>
                <div class="p-2 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                  <h6 class="mb-0 text-center"><span class="badge bg-danger">High priority</span></h6>
                </div>
              <div class="p-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 text-center">
                <a href="#!" data-mdb-toggle="tooltip" title="Done"><i
                  class="fas fa-check text-success me-3"></i></a>
              <a href="#!" data-mdb-toggle="tooltip" title="Remove"><i
                  class="fas fa-trash-alt text-danger"></i></a>
            </div>
            </div>
            <hr class="hr hr__display">
            <div class="d-flex flex-row row">
                <div class="p-2 col-xl-3 col-lg-4 col-md-4 col-sm-4 col-3 text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-5.webp"
                          class="shadow-1-strong rounded-circle" alt="avatar 1" style="width: 55px; height: auto;">
                        <span class="ms-2">Alice Mayer</span>
                </div>
                <div class="p-2 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-4 text-center">
                  <span>Make payment to Bluedart</span>
                </div>
                <div class="p-2 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                  <h6 class="mb-0 text-center"><span class="badge bg-danger">High priority</span></h6>
                </div>
              <div class="p-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 text-center">
                <a href="#!" data-mdb-toggle="tooltip" title="Done"><i
                  class="fas fa-check text-success me-3"></i></a>
              <a href="#!" data-mdb-toggle="tooltip" title="Remove"><i
                  class="fas fa-trash-alt text-danger"></i></a>
            </div>
            </div>
            <hr class="hr hr__display">
            <div class="d-flex flex-row row">
                <div class="p-2 col-xl-3 col-lg-4 col-md-4 col-sm-4 col-3 text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
                          class="shadow-1-strong rounded-circle" alt="avatar 1" style="width: 55px; height: auto;">
                        <span class="ms-2">Danny McChain</span>
                </div>
                <div class="p-2 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-4 text-center">
                  <span>Office rent</span>
                </div>
                <div class="p-2 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 text-center">
                  <h6 class="mb-0"><span class="badge bg-success ">Low priority</span></h6>
                </div>
              <div class="p-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 text-center">
                <a href="#!" data-mdb-toggle="tooltip" title="Done"><i
                  class="fas fa-check text-success me-3"></i></a>
              <a href="#!" data-mdb-toggle="tooltip" title="Remove"><i
                  class="fas fa-trash-alt text-danger"></i></a>
            </div>
            </div>
            <hr class="hr hr__display">
            <div class="d-flex flex-row row">
                <div class="p-2 col-xl-3 col-lg-4 col-md-4 col-sm-4 col-3 text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-3.webp"
                          class="shadow-1-strong rounded-circle" alt="avatar 1" style="width: 55px; height: auto;">
                        <span class="ms-2">Alexa Chung</span>
                </div>
                <div class="p-2 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-4 text-center">
                  <span>Office grocery shopping</span>
                </div>
                <div class="p-2 col-xl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 text-center">
                  <h6 class="mb-0"><span class="badge bg-warning">Middle priority</span></h6>
                </div>
              <div class="p-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 text-center">
                <a href="#!" data-mdb-toggle="tooltip" title="Done"><i
                  class="fas fa-check text-success me-3"></i></a>
              <a href="#!" data-mdb-toggle="tooltip" title="Remove"><i
                  class="fas fa-trash-alt text-danger"></i></a>
            </div>
            </div>
            <hr class="hr hr__display">
            <div class="d-flex flex-row row">
                <div class="p-2 col-xl-3 col-lg-4 col-md-4 col-sm-4 col-3 text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-8.webp"
                          class="shadow-1-strong rounded-circle" alt="avatar 1" style="width: 55px; height: auto;">
                        <span class="ms-2">Ben Smith</span>
                </div>
                <div class="p-2 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-4 text-center">
                  <span>Ask for Lunch to Clients</span>
                </div>
                <div class="p-2 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 text-center">
                  <h6 class="mb-0"><span class="badge bg-warning">Middle priority</span></h6>
                </div>
              <div class="p-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 text-center">
                <a href="#!" data-mdb-toggle="tooltip" title="Done"><i
                  class="fas fa-check text-success me-3"></i></a>
              <a href="#!" data-mdb-toggle="tooltip" title="Remove"><i
                  class="fas fa-trash-alt text-danger"></i></a>
            </div>
            </div>
            <div class="card-footer text-end p-3">
              <button class="me-2 btn btn btn-secondary">Hủy</button>
              <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">Thêm</button>
            </div>
      </div>
    </div> -->
