@font-face {
    font-family: OpenSans;
    src: url(/assets/font/OpenSans-Regular.ttf);
}

* {
    font-family: Opensans;
    font-size: 18px;
}


/* css cho content bên trong của trang blog chính */

.box-left {
    float: left;
    margin-bottom: 15px;
    font-family: Coiny;
}

.box-right {
    float: right;
    margin-bottom: 15px;
    /* height: 100px; */
}

.container {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.title_page {
    color: #FFC700;
    font-size: 3rem;
    font-family: 'Coiny', cursive;
}

.btn-header {
    color: black;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    background-color: #FFC700;
    font-family: 'Opensans';
    /* font-size: 25px; */
    width: 220px;
    height: 50px
}

.add-mobile {
    border: 2px solid #FFC700;
    padding: 5px 10px;
    background-color: #FFC700;
    border-radius: 5px;
    position: absolute;
    right: 50px;
    font-size: 20px;
    display: none;
}

.add-mobile:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.add-mobile:hover {
    cursor: pointer;
}

.btn-header:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.title__margin {
    padding-top: 10px;
}

.page__bg {
    background-color: #fef8e1;
    padding-top: 80px;
}

.main {
    position: absolute;
    top: 60px;
    width: calc(100% - 260px);
    min-height: calc(100vh - 60px);
    left: 260px;
}

.welcom__page {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.img-responsive {
    width: 100%;
    border-radius: 30px;
    text-decoration: none;
}

.blog_item {
    width: 70%;
    margin: auto;
}

.relative {
    position: relative;
    background-color: red
}

.blog__position {
    position: relative;
    z-index: 1;
    /* overflow: hidden; */
}


/* hover hien nut sua xoa */

.blog__position::after {
    position: absolute;
    width: 100%;
    /* height: 100%; */
    display: block;
    content: "";
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    left: -100%;
    overflow: hidden;
}

.blog__position:hover::after {
    left: 0;
}

.cover-icon {
    position: absolute;
    top: 0%;
    left: 3.5%;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.blog__position:hover .cover-icon {
    opacity: 1;
    transition: 0.5s;
    z-index: 1;
}

.content_blog {
    position: relative;
    z-index: 2;
    width: 94%;
    top: -110px;
    background-color: white;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 30px;
}

.blog-edit {
    position: absolute;
    z-index: 3;
    top: 30%;
    left: 35%;
    right: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.blog-edit1 {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    right: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: block */
}

.blog-delete {
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 35%;
    right: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.btn-edit {
    width: 220px;
    height: 60px;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 199, 0, 0.6);
    font-weight: bold;
    /* display: none */
}

.btn-edit:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.btn-edit:hover {
    background-color: #ffc700
}

.btn-delete {
    width: 220px;
    height: 60px;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 199, 0, 0.6);
    font-weight: bold;
}

.btn-delete:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.btn-delete:hover {
    background-color: rgb(255, 199, 0)
}

#btn-mobile1,
#btn-mobile2,
#btn-mobile3 {
    height: 50px;
    line-height: 50px;
    background-color: rgb(255, 199, 0, 0.6);
    margin-right: 15px;
    float: left;
    border-radius: 5px;
}

#btn-mobile1:hover,
#btn-mobile2:hover,
#btn-mobile3:hover {
    background-color: #ffc700
}

#btn-mobile1:active,
#btn-mobile2:active,
#btn-mobile3:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.fa-eye {
    font-size: 25px;
    color: black;
    width: 50px;
    text-align: center
}

.fa-pen-to-square {
    font-size: 25px;
    color: black;
    width: 50px;
    text-align: center
}

.fa-trash-can {
    font-size: 25px;
    color: black;
    width: 50px;
    text-align: center
}

.blog_bottom {
    display: flex;
    padding-bottom: 25px;
}

.summary_blog {
    max-width: 100%;
    color: black;
}

.summary_blog>p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.5rem;
    height: auto;
}

.content_margin--cun1 {
    margin-left: 10%;
    margin-right: 10%;
}

.a--title {
    color: black;
    font-weight: bold;
    text-decoration: none;
    line-height: 1.2rem;
}

.a--title:hover {
    color: #FFC700;
}

.readmore {
    color: black;
}

.readmore:hover {
    color: #FFC700;
}

.content__underline {
    text-decoration: none;
    margin-left: 15px;
    padding-left: 35px;
}

.post-time {
    color: #FFC700;
}

.time__color {
    color: darkgrey;
}

.blog__width--baiviet {
    width: 200px;
}

.title-head {
    color: #FFC700;
    font-size: 40px;
    font-family: 'coiny';
    text-decoration: none;
}

.title-head:hover {
    color: black;
}

.loop-blog {
    display: flex;
    margin-bottom: 40px;
}

.name-right {
    margin-left: 10px;
}

.aside-content {
    display: flex;
    flex-direction: column;
}

.btn-transition {
    margin-bottom: 20px;
    text-decoration: none;
}

.btn__margin--top {
    margin-top: 30px;
}

.pagination {
    justify-content: center;
    margin-top: 10px;
}

.page-item {
    width: 50px;
    margin-bottom: 80px;
    margin-left: 5px;
}


/* Form AddBlog + Form EditBlog */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity linear 0.2s;
}

.overlay-close {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
}

.dialog:target {
    visibility: visible;
    opacity: 1;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.3);
}

.dialog-body {
    background: #fff;
    border-radius: 15px;
    border: 1px solid #FFC700;
    z-index: 999;
    width: 600px;
    max-width: 100%;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    /* padding: 20px; */
    box-sizing: border-box;
    box-shadow: 0 0 100px rgba(0, 0, 0, .1)
}

.dialog-close-btn {
    position: absolute;
    top: 2px;
    right: 10px;
    text-decoration: none;
    color: #333;
    font-size: 30px;
}

.form-title {
    background-color: #FFC700;
    border-radius: 15px 15px 0 0;
    border: 1px solid #FFC700;
    color: black;
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.title-text {
    position: relative;
    font-weight: bold;
}

.close {
    position: absolute;
    right: 15px;
    color: black;
    text-decoration: none;
    font-size: 25px;
}

.formAddBlog_ p a {
    font-weight: 700;
}

.formAddBlog_ p a:hover {
    text-decoration: underline
}


/* <!-- code popup bacsiwindows.com --> */

* {
    box-sizing: border-box;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #FFC700;
    border-radius: 4px;
    /* resize: vertical; */
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: gray;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #FFC700;
}

.container1 {
    border-radius: 5px;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}


/* .row:after {
    content: "";
    display: table;
    clear: both;
} */

.button_form {
    margin-right: 10px;
}

.fa-image {
    font-size: 50px;
    font-weight: normal;
    margin-right: 5px;
}

.fa-plus {
    font-size: 50px;
    color: black;
}

.fa-close {
    position: absolute;
    right: 15px;
}


/* Bố cục linh hoạt: khi màn hình có chiều rộng dưới 600px thì hai cột chồng 
  lên nhau thay vì nằm cạnh nhau */

@media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
    .button_form {
        margin-bottom: 10px;
        margin-right: 0px;
    }
    .button_formDelete {
        margin-bottom: 10px;
        margin-right: 0px;
    }
}

@media screen and (min-width: 600px) {
    .button_formDelete {
        margin-bottom: 10px;
        margin-right: 10px;
    }
}


/* Form DeleteBlog */

.dialog-body-delete {
    background: #fff;
    border-radius: 15px;
    border: 1px solid #FFC700;
    z-index: 999;
    width: 500px;
    max-width: 100%;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    /* padding: 20px; */
    box-sizing: border-box;
    box-shadow: 0 0 100px rgba(0, 0, 0, .1)
}

.fa--check {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.fa-check-circle {
    font-size: 70px;
}

.button_formDelete {
    width: 90px;
    text-align: center;
    /* margin-right: 10px;
    margin-left: 10px; */
}


/* hover hiện nút xem sửa xóa */


/* pagination */

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.home-product__pagination {
    display: flex !important;
    flex-direction: row;
    flex-direction: row;
    margin: 30px 0 30px 0;
    display: block;
}

.pagination-item {
    margin: 0px;
    border-radius: 2px;
    border-radius: 5px;
}

.pagination-item {
    padding: 5px;
    margin: 0px 5px;
}

.pagination-item:hover {
    background-color: #FFD541 !important;
    color: white !important;
}

.pagination-item a:hover {
    color: white;
}

.pagination-item.pagination-item--active {
    background-color: #FFC800;
}

.pagination-item__link {
    display: block;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--text-color);
    min-width: 40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
}

.xemthem {
    color: #FFC700;
    display: none;
    text-align: center;
    font-size: 15px !important;
    margin-bottom: 20px;
}

.xemthem div {
    text-decoration: none;
    color: var(--orange-color);
    width: 30%;
    margin: auto;
}

.xemthem div:hover {
    cursor: pointer;
}

.mobile {
    display: none;
}

#carouselExampleInterval img {
    height: 80vh;
    max-height: 500px;
}

@media(min-width: 1000px) {
    * {
        font-family: Opensans;
        font-size: 20px;
    }
    .blog-edit1 {
        position: absolute;
        z-index: 5;
        top: 50%;
        left: 50%;
        right: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .content_blog {
        position: relative;
        z-index: 2;
        width: 94%;
        top: -80px;
        background-color: white;
        margin-left: 3%;
        margin-right: 3%;
        border-radius: 30px;
    }
}

@media (max-width: 1000px) {
    * {
        font-family: Opensans;
        font-size: 20px;
    }
    .blog-edit1 {
        position: absolute;
        z-index: 5;
        top: 50%;
        left: 50%;
        right: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .content_blog {
        position: relative;
        z-index: 2;
        width: 94%;
        top: -50px;
        background-color: white;
        margin-left: 3%;
        margin-right: 3%;
        border-radius: 20px;
    }
}


/* Bắt width thay đổi nội dung footer tại width=790px */

@media screen and (max-width: 790px) {
    * {
        font-family: Opensans;
        font-size: 20px;
    }
    .frame--footer--container {
        height: 400px !important;
    }
    .frame--footer {
        height: 400px !important;
    }
    .pagination {
        display: none !important;
    }
    .xemthem {
        display: block;
    }
    .blog_item {
        width: 100%;
        margin: auto;
    }
    .content__underline {
        text-decoration: none;
        margin-left: 15px;
        padding-left: 0px;
    }
    .btn-delete {
        display: none;
    }
    .btn-edit {
        display: none;
    }
    .btn-header {
        display: none;
    }
    .add-mobile {
        display: block;
    }
    .blog-edit1 {
        position: absolute;
        z-index: 5;
        top: 50%;
        left: 50%;
        right: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .content_blog {
        position: relative;
        z-index: 2;
        width: 94%;
        top: -50px;
        background-color: white;
        margin-left: 3%;
        margin-right: 3%;
        border-radius: 20px;
    }
    #carouselExampleInterval img {
        height: 60vh;
        max-height: 400px;
    }
}

@media (max-width: 720px) {
    * {
        font-family: Opensans;
        font-size: 15px;
    }
    .blog__width--baiviet {
        width: 120px;
    }
    .frame--footer--container {
        height: 450px !important;
    }
    .frame--footer {
        height: 450px !important;
    }
    .content__underline {
        text-decoration: none;
        margin-left: 15px;
        padding-left: 0px;
    }
    #carouselExampleInterval img {
        height: 30vh;
        max-height: 300px;
    }
    .content_blog {
        position: relative;
        z-index: 2;
        width: 94%;
        top: -50px;
        background-color: white;
        margin-left: 3%;
        margin-right: 3%;
        border-radius: 20px;
    }
}

@media (max-width: 500px) {
    * {
        font-family: Opensans;
        font-size: 15px;
    }
    .blog__width--baiviet {
        width: 100px;
    }
    .content_blog {
        position: relative;
        z-index: 2;
        width: 94%;
        top: -35px;
        background-color: white;
        margin-left: 3%;
        margin-right: 3%;
        border-radius: 20px;
    }
    .blog-edit1 {
        position: absolute;
        z-index: 5;
        top: 40%;
        left: 50%;
        right: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .fa-eye {
        font-size: 20px;
        color: black;
        width: 40px;
        text-align: center
    }
    .fa-pen-to-square {
        font-size: 20px;
        color: black;
        width: 40px;
        text-align: center
    }
    .fa-trash-can {
        font-size: 20px;
        color: black;
        width: 40px;
        text-align: center
    }
    #btn-mobile1,
    #btn-mobile2,
    #btn-mobile3 {
        height: 40px;
        line-height: 40px;
        background-color: rgb(255, 199, 0, 0.6);
        margin-right: 15px;
        float: left;
        border-radius: 5px;
    }
    .blog_bottom {
        display: flex;
        padding-bottom: 20px;
    }
    .page__bg {
        min-width: 300px;
    }
    .header {
        min-width: 300px;
    }
    .header>.header--overlay {
        min-width: 300px;
    }
    .blog_bottom {
        flex-direction: column;
    }
    .post-time>.readmore {
        display: none;
    }
    .content__underline {
        margin-top: 10px;
        text-decoration: none;
        margin-left: 15px;
        padding-left: 0px;
    }
}


/* Định dạng footer */

.frame--footer--container {
    width: 100%;
    height: 400px;
    position: relative;
    min-width: 300px;
}

.frame--footer {
    width: 100%;
    height: 400px;
    position: absolute;
    bottom: 0;
}