
@font-face {
    font-family: OpenSans;
    src: url(/assets/font/OpenSans-Regular.ttf);
}

* {
    font-family: Opensans;
}
/* .img-size{
    width: 40px;
} */

h3{
    font-weight: bolder;
    margin-top: 5px;
}
.bg-color{
    background-color: #FFA800;
    
}
.search--button {
    background-color: #fbd078;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    color: white;
    border: 1px;
}
.search--input {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border: 1px;
    width: 320px;
    padding: 5px 10px;
}

.dropdown{
    z-index: 10000000000;
}
.dropdown__hover {
    margin-bottom: -10px;
    z-index: 1000000;
}

div.dropdown-menu {
    margin-top: -15px !important;
}

.dropdown__hover:hover .dropdown-content {
    display: block;
    border: none !important;
}

.user--position {
    position: relative;
    z-index: 10000000;
}
.topbar {
    position: fixed;
    background-color: #FFA800;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08); */
    width: 100%;
    padding: 0 20px;
    height: 60px;
    display: grid;
    grid-template-columns: 3fr 5fr 4fr 1fr;
    align-items: center;
    z-index: 10;
}

.brand-logo {
    display: flex;
    float: left;
    align-items: center;
}

.logo p {
    padding-top: 20px;
    font-weight: bold;
    color: #FFFFFF;
    font-size: x-large;
}

.brand-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 80px;
    object-fit: cover;
}

.admin-avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 80%;
    object-fit: cover;
}

.search {

    position: relative;
    z-index: 10000000;
}

.dropdown-item {
    padding: 10px 30px;
}

.dropdown-divider {
    margin: 0px !important;
}

.dropdown-item:hover {
    background-color: #FFC700 !important;
}

.dropdown-item:focus {
    background-color: #FFDE59 !important;
}
button.btn:focus {
    outline: none;
    box-shadow: none !important;
}

.display__desktop{
    display: block;
}

.display__mobile{
    display: none;
}
.display_img{
    display: none;
}
/* menu-slidebar */
.container-menu{
    z-index: 1000000000;
    position: relative;
}
.menu-slidebar{
    display: block;
    margin-top: 5px;
    margin-left: 15px;
}
.menu-slidebar>i{
    font-size: 25px;
    cursor: pointer;
}

/*  */
/* icon menu */

.navbar--overlay--menu{
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    height: 100vh;
}
.nav--bar--menu{
    display: none;
}
.nav__list--menu{
    margin-top: 50px;
    background-color: #FFC700;
    height: 100%;

}
.nav__list--menu>li{
    border-bottom: 2px solid black;
    width: 70%;
    margin-bottom: 10px;
}


.nav__list--menu i{
    margin-right: 10px;
}

.nav--bar--menu ul{
    list-style-type: none;
}

.nav--bar--menu a:hover{
    color: white; 
}

.nav--link--menu{
    color: black;
    text-decoration: none;
    display: flex;
}
.nav__input--menu{
    display: none;
}
.nav__input--menu:checked ~ .nav--bar--menu{
    transform: translateX(0%);
}
.nav__input--menu:checked ~ .nav__list--menu{
    transform: translateX(0%);
}

/*  */
@media screen and (max-width: 820px) {
    .navbar{
        margin: 0 !important;
        min-width: 300px;
        padding-left: 0px !important;
        font-size: 15px; 
    }
    .display__desktop{
        display: none;
    }
    .display__mobile{
        display: block;
    }
    .pl-5{
        padding: auto !important;
    }
    .search--input {
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        border: 1px;
        width: 250px;
        padding: 5px 10px;
    }
    .display_img{
        display: none;
    }
    .display__navbar{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .search--input {
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        border: 1px;
        width: 230px;
        padding: 5px 10px;
    }
    .display_img{
        display: none;
    }
    .display__navbar{
        display: none;
    }
    /* icon menu slidebar */
    .nav__input--menu:checked ~ .nav--bar--menu{
        display: block;
    }
    .nav--bar--menu{
        position: fixed;
        top: 0px;
        right: 0;
        bottom: 0;
        width: 250px;
        max-width: 100%;
        transform: translateX(-100%);
        background-color: #FFC700;
    }

    .nav__input--menu:checked ~ .navbar--overlay--menu{
        display: block;
    }
    /*  */
}
@media screen and (max-width: 680px) {
    .display__Infor{
        display: none;
    }
    .search--input {
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        border: 1px;
        width: 210px;
        padding: 5px 10px;
    }
    .display_img{
        display: none;
    }
    .display__navbar{
        display: none;
    }
}
@media screen and (max-width: 576px) {
    .display__Infor{
        display: none;
    }
    .search--input {
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        border: 1px;
        width: 200px;
        padding: 5px 10px;
    }
    .display__Name{
        display: none;
    }
    .display__user{
        display: none;
    }
    .display_img{
        display: block;
    }
    .display_img1{
        display: none;
    }
    .mb__img{
        margin-bottom: 20px;
    }
    .display__navbar{
        display: block;
    }
    .size__navbar{
        width: 60px;
        height: 60px;
    }
    .width__img{
        width: 30px;
    }
}
@media screen and (max-width: 520px) {
    .display__Infor{
        display: none;
    }
    .search--input {
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        border: 1px;
        width: 100px;
        padding: 5px 10px;
    }
    .display__Name{
        display: none;
    }
    .display__user{
        display: none;
    }
    .display_img{
        display: block;
    }
    .display_img1{
        display: none;
    }
    .mb__img{
        margin-bottom: 20px;
    }
    .display__navbar{
        display: block;
    }
    .size__navbar{
        width: 60px;
        height: 60px;
    }
    .width__img{
        width: 30px;
    }
    .mg__Infor{
        margin-left: 50px !important;
    }
}
@media screen and (max-width: 520px) {
    .display__Infor{
        display: none;
    }
    .search--input {
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        border: 1px;
        width: 200px;
        padding: 5px 10px;
    }
    .display__Name{
        display: none;
    }
    .display__user{
        display: none;
    }
    .display_img{
        display: block;
    }
    .display_img1{
        display: none;
    }
    .mb__img{
        margin-bottom: 20px;
    }
    .display__navbar{
        display: block;
    }
    .size__navbar{
        width: 60px;
        height: 60px;
    }
    .width__img{
        width: 30px;
    }
    .mg__Infor{
        margin-left: 50px !important;
    }


.user {
    position: relative;
    width: 100%;
    height: 50px;
    justify-self: right;

}
}