<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Coiny&family=Work+Sans&display=swap" rel="stylesheet">
<!-- Chưa có responsive -->
<div class="display__desktop">
      <nav class="navbar navbar-expand-sm bg-color d-flex justify-content-between">
            <!-- Brand/logo -->
            <div class="d-flex ml-3">
                  <div><a class="navbar-brand" href="#" routerLink="/home" routerLinkActive="active">
                              <img src="../assets/image/logo_white.png" alt="logo" style="width:55px;">
                        </a></div>
                  <div>
                        <h3 class="text-white mt-3">SUNPET</h3>
                  </div>
            </div>
            <!-- Search -->
            <div class="d-flex pl-5 mr-auto">
                  <div>
                        <input type="text" value="" name="search" id="search" placeholder="search" autocomplete="off"
                              class="search--input">
                  </div>
                  <button class="search--button"><i class="fas fa-search"></i></button>
            </div>
            <!-- User -->
            <div class="d-flex mr-4 mt-2">
                  <div class="mr-2">
                        <p>Tường Vy <br><span>Tp.HCM</span></p>
                  </div>
                  <div>
                        <img class="rounded-circle" src="../assets/image/admin-avatar.jpg" alt="logo"
                              style="width:35px;">
                  </div>
                  <div class="btn-group dropdown__hover user--position dropdown">
                        <button class="btn" type="button" data-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false"><i class="fa-solid fa-caret-down mb-4"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right dropdown-content ">
                              <a class="dropdown-item" id="dangky" routerLink="/dangky" routerLinkActive="active"><i
                                          class="fa-solid fa-user"></i> Hồ sơ</a>
                              <a class="dropdown-item" id="dangnhap" routerLink="/dangnhap" routerLinkActive="active"><i
                                          class="fa-solid fa-gear"></i> Cài đặt</a>
                              <a class="dropdown-item" id="xemthongtin" routerLink="/xemthongtin"
                                    routerLinkActive="active"><i class="fa-solid fa-right-from-bracket"></i> Đăng
                                    xuất</a>
                        </div>
                  </div>
            </div>
      </nav>
</div>
<!-- Có responsive -->
<div class="display__mobile">
      <nav class="navbar navbar-expand-sm bg-color d-flex justify-content-between ">
            <!-- Brand/logo -->
            <div class="d-flex ml-3">
                  <div><a class="navbar-brand" href="#" routerLink="/home" routerLinkActive="active">
                              <img src="../assets/image/logo_white.png" alt="logo" style="width:55px;">
                        </a></div>
                  <div class="display__Name">
                        <h3 class="text-white mt-3">SUNPET</h3>
                  </div>
            </div>
            <!-- Search -->
            <div class="d-flex pl-5 mr-auto">
                  <div>
                        <input type="text" value="" name="search" id="search" placeholder="search" autocomplete="off"
                              class="search--input">
                  </div>
                  <button class="search--button"><i class="fas fa-search"></i></button>
            </div>
            <!-- User -->
            <div class="d-flex mr-4 mt-2 mg__Infor">
                  <div class="mr-2 display__Infor">
                        <p>Tường Vy <br><span>Tp.HCM</span></p>
                  </div>
                  <div>
                        <img class="rounded-circle display_img1 width__img" src="../assets/image/admin-avatar.jpg"
                              alt="logo" style="width:35px;">
                  </div>
                  <div class="btn-group dropdown__hover user--position dropdown">
                        <button class="btn" type="button" data-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false"><img class="rounded-circle display_img mb__img"
                                    src="../assets/image/admin-avatar.jpg" alt="logo" style="width:35px;"><i
                                    class="fa-solid fa-caret-down mb-4 display__user"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right dropdown-content ">
                              <a class="dropdown-item" id="dangky" routerLink="/dangky" routerLinkActive="active"><i
                                          class="fa-solid fa-user"></i> Hồ sơ</a>
                              <a class="dropdown-item" id="dangnhap" routerLink="/dangnhap" routerLinkActive="active"><i
                                          class="fa-solid fa-gear"></i> Cài đặt</a>
                              <a class="dropdown-item" id="xemthongtin" routerLink="/xemthongtin"
                                    routerLinkActive="active"><i class="fa-solid fa-right-from-bracket"></i> Đăng
                                    xuất</a>
                        </div>
                  </div>
                  <div class="container-menu">
                        <!-- <button class="btn size__navbar" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-bars"></i></button> -->
                        <label class="menu-slidebar" for="input--menu">
                              <i class="fa fa-bars"></i>
                        </label>
                        <input type="checkbox" class="nav__input--menu" id="input--menu">
                        <label for="input--menu" class="navbar--overlay--menu"></label>
                        <nav for="input--menu" class="nav--bar--menu">
                              
                              <ul class="nav__list--menu">
                                    <li>
                                          <a href="#" class="nav--link--menu">
                                                <i class="fa fa-house"></i>
                                                <div>Quản lý chung</div>
                                          </a>
                                    </li>
                                    <li>
                                          <a href="#" class="nav--link--menu">
                                                <i class="fa-solid fa-cart-shopping"></i>
                                                <div>Sản phẩm</div>
                                          </a>
                                    </li>
                                    <li>
                                          <a href="#" class="nav--link--menu">
                                                <i class="fa fa-newspaper"></i>
                                                <div>Bài viết</div>
                                          </a>
                                    </li>
                                    <li>
                                          <a href="#" class="nav--link--menu">
                                                <i class="fa fa-list-check"></i>
                                                <div>Đơn hàng</div>
                                          </a>
                                    </li>
                                    <li>
                                          <a href="#" class="nav--link--menu">
                                                <i class="fa-solid fa-earth-asia"></i>
                                                <div>Website</div>
                                          </a>
                                    </li>
                                    <li>
                                          <a href="#" class="nav--link--menu">
                                                <i class="fas fa-cog"></i>
                                                <div>Cài đặt</div>
                                          </a>
                                    </li>
                              </ul>
                        </nav>
                  </div>
            </div>
      </nav>
</div>