@font-face {
    font-family: OpenSans;
    src: url(/assets/font/OpenSans-Regular.ttf);
}

* {
    font-family: Opensans;
}
/* .img-size{
    width: 40px;
} */

h3{
    font-weight: bolder;
    margin-top: 5px;
}
.bg-color{
    background-color: #FFA800;
    
}
.search--button {
    background-color: #fbd078;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    color: white;
    border: 1px;
}
.search--input {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border: 1px;
    width: 320px;
    padding: 5px 10px;
}

.dropdown{
    z-index: 10000000000;
}
.dropdown__hover {
    margin-bottom: -10px;
    z-index: 1000000;
}

div.dropdown-menu {
    margin-top: -15px !important;
}

.dropdown__hover:hover .dropdown-content {
    display: block;
    border: none !important;
}

.user--position {
    position: relative;
    z-index: 10000000;
}

.dropdown-item {
    padding: 10px 30px;
}

.dropdown-divider {
    margin: 0px !important;
}

.dropdown-item:hover {
    background-color: #FFC700 !important;
}

.dropdown-item:focus {
    background-color: #FFDE59 !important;
}
button.btn:focus {
    outline: none;
    box-shadow: none !important;
}

.display__desktop{
    display: block;
}
.display__mobile{
    display: none;
}
.display_img{
    display: none;
}
@media screen and (max-width: 820px) {
    .navbar{
        margin: 0 !important;
        min-width: 300px;
        padding-left: 0px !important;
        font-size: 15px; 
    }
    .display__desktop{
        display: none;
    }
    .display__mobile{
        display: block;
    }
    .pl-5{
        padding: auto !important;
    }
    .search--input {
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        border: 1px;
        width: 250px;
        padding: 5px 10px;
    }
    .display_img{
        display: none;
    }
    .display__navbar{
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .search--input {
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        border: 1px;
        width: 230px;
        padding: 5px 10px;
    }
    .display_img{
        display: none;
    }
    .display__navbar{
        display: none;
    }
}
@media screen and (max-width: 680px) {
    .display__Infor{
        display: none;
    }
    .search--input {
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        border: 1px;
        width: 210px;
        padding: 5px 10px;
    }
    .display_img{
        display: none;
    }
    .display__navbar{
        display: none;
    }
}
@media screen and (max-width: 576px) {
    .display__Infor{
        display: none;
    }
    .search--input {
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        border: 1px;
        width: 200px;
        padding: 5px 10px;
    }
    .display__Name{
        display: none;
    }
    .display__user{
        display: none;
    }
    .display_img{
        display: block;
    }
    .display_img1{
        display: none;
    }
    .mb__img{
        margin-bottom: 20px;
    }
    .display__navbar{
        display: block;
    }
    .size__navbar{
        width: 60px;
        height: 60px;
    }
    .width__img{
        width: 30px;
    }
}
@media screen and (max-width: 520px) {
    .display__Infor{
        display: none;
    }
    .search--input {
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        border: 1px;
        width: 100px;
        padding: 5px 10px;
    }
    .display__Name{
        display: none;
    }
    .display__user{
        display: none;
    }
    .display_img{
        display: block;
    }
    .display_img1{
        display: none;
    }
    .mb__img{
        margin-bottom: 20px;
    }
    .display__navbar{
        display: block;
    }
    .size__navbar{
        width: 60px;
        height: 60px;
    }
    .width__img{
        width: 30px;
    }
    .mg__Infor{
        margin-left: 50px !important;
    }
}
@media screen and (max-width: 520px) {
    .display__Infor{
        display: none;
    }
    .search--input {
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        border: 1px;
        width: 200px;
        padding: 5px 10px;
    }
    .display__Name{
        display: none;
    }
    .display__user{
        display: none;
    }
    .display_img{
        display: block;
    }
    .display_img1{
        display: none;
    }
    .mb__img{
        margin-bottom: 20px;
    }
    .display__navbar{
        display: block;
    }
    .size__navbar{
        width: 60px;
        height: 60px;
    }
    .width__img{
        width: 30px;
    }
    .mg__Infor{
        margin-left: 50px !important;
    }
}